.image-container-arts {
  // position: absolute;
  // top: 4cm;
  // right: 0.3cm;
  // bottom: 0;
  // left: -4.5cm;
  width: 100%;
  display: flex;
  flex-direction: column;

  img {
    display: block;
    width: 100%;
  }

  &.column {
    // top: 0;
    // bottom: 0;
    // left: 0;
    // width: 10.3cm;
    justify-content: flex-start;

    img {
      margin-bottom: 0.4cm;
    }
  }

  &.full-page {
    top: 0;
    right: 0;
    bottom: 0;
    left: -2cm;
  }
}

.arts-description {
  position: absolute;
  height: auto;
  right: 0;
  top: 13.3cm;
  // bottom: 0;
  left: 0;
}

.art-text {
  display: block;
  width: 8.4cm;
}

.art-full {
  position: absolute;
  top: 0cm;
  right: 0cm;
  bottom: -0.8cm;
  left: -5.6cm;
  z-index: -5;
  overflow: hidden;
  // background-color: red;
  // background-size: cover;
}

.art-cover {
  display: block;
  position: absolute;
  width: 14.05cm;
  top: 0cm;
  left: -5.6cm;
  // bottom: 0;
  z-index: -5;
}

.art-intro-left {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  img {
    width: 100%;
  }
}

// .art-notation {
//   margin-left: -1.9cm;
// }