.geocities {
  ul {
    padding: 0;
    text-indent: 0;
    margin: 0;
  }
  li {
    list-style: none;
    padding: 0;
    text-indent: 0;
    margin: 0.1cm 0 0;
  }
}

.geocities-ui {
  img {
    display: block;
    width: 103%;
    float: right;
  }
}

.geo-references {
  img {
    display: inline-block;
    float: left;
    margin-left: -2.9cm;
    width: 2.7cm;
  }
}