.horoscope-text {
  font-size: $print-font-size-small;
}

.horoscope-title-block {
  margin-top: 0.6cm;
  position: relative;

  div {
    display: inline;
  }

  .horoscope-date {
    @extend .superscript;
  }
}

.kaomoji {
  font-family: arial, sans-serif;
  position: absolute;
  top: 0;
  font-size: 12pt;
}

.left-side .kaomoji {
  left: 0;
  transform: translateX(-110%);
}

.right-side .kaomoji {
  right: 0;
  transform: translateX(100%);
}


.crystal-ball {
  position: absolute;
  left: 5.3cm;
  bottom: 1.5cm;
  width: 7.5cm;
}