

.poetry-section {
  @extend .table-text;
  margin-bottom: 0.6cm;
  position: relative;

  .poetry-logo {
    position: absolute;
    top: 0.15cm;
    right: 0.3cm;
    display: block;
    width: 0.7cm;
  }

  .poetry-content {
    @extend .table-text-content;
    // padding-right: 1.2cm;

    .emoji {
      height: 0.4cm;
      display: inline-block;
      margin-bottom: -0.1cm;
    }

    .insta-post {
      display: block;
      width: 4.5cm;
      margin-bottom: 0.2cm;
    }
  }

  .explanation {
    @extend .table-text-small;
  }
}

.message.right {
  text-align: right;
}

.poetry-section.jokekra {
  margin-top: 0.4cm;
}