@page {
  size: landscape;
  size: 29.7cm 21cm;
  margin: 0;
}

.page {
  position: relative;
  width: 100%;
  height: 20.9cm;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  page-break-inside: avoid;
  page-break-after: always;
  padding: 0cm;

  &:last-child {
    page-break-after: avoid;
  }
}

.left-side, .right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 50%;
}

.space {
  display: block;
  height: 0.2cm;
  width: 100%;
}

.mgt-1 {
  margin-top: 0.5cm !important;
}

$small-margin: 0.5cm;
$medium-margin: 0.8cm;
$large-margin: 2.3cm;

.left-side {
  position: relative;
  border-right: dashed 1px black;
  padding: $medium-margin $medium-margin $small-margin $large-margin;
}

.right-side {
  padding: $medium-margin $large-margin $small-margin $medium-margin;
}



.print-page-content-wrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
  margin-bottom: $small-margin;
}

.left-side .print-page-content-wrapper {
  justify-content: flex-end;
}

.right-side .print-page-content-wrapper {
  justify-content: flex-start;
}


.page-content-text {
  position: relative;
  width: 8.4cm;
}

.page-content-full {
  position: relative;
  width: 12cm;
}

.left-side .page-content-full .page-content-text {
  margin-left: 3.6cm;
}

.fold-icon {
  position: absolute;
  width: 32px;
  height: 32px;
  bottom: 12px;
  right: -16px;

  img {
    width: 32px;
    height: 32px;
  }
}

.page-footer, .page-number, .running-title {
  height: 18px;
  line-height: 18px;
}

.page-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: $print-font-size-small;
}

.running-title {
  margin-left: 3.32cm;
}


.left-side.double-width {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  // background-color: red;
  border-right: none;

  & + .right-side {
    margin-left: 14.85cm;
  }

  .page-footer {
    width: 11.76cm;
  }

  .fold-icon {
    right: 14.41cm;
  }

  .fake-fold {
    position: absolute;
    top: 0;
    left: 14.84cm;
    height: 100%;
    width: 0px;
    border-right: dashed 1px black;
  }
}

.columns-half {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  div {
    width: 48%;
  }
}

.space-divider {
  width: 100%;
  height: 0.7cm;
}


.logo-jeu {
  width: 80%;
  position: absolute;
  top: -0.5cm;
  right: 0;
}