.print-is-dead-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    display: block;
    width: 100%;
  }
}

.nipple-image {
  img {
    display: block;
    width: 100%;
  }
}

.print-is-dead-wrapper {
  width: 100%;
}

.cut-section {
  height: 100%;
  width: 2cm;
  // background-color: blue;
  position: absolute;
  right: 0;
  top: 0;
  // border-left: 2px dotted black;
}

.print-is-dead-title {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  font-family: $serif-font;
  font-size: 4.8cm;
  line-height: 5.3cm;
  padding: $medium-margin 
           $large-margin;
}

.print-is-dead-paragraph {
  position: absolute;
  bottom: 3cm;
  right: 5cm;
  width: 4.4cm;
  background-color: white;
  border: solid 5px white;
  z-index: 10;

  &::before {
    content: "*";
    position: absolute;
    left: -10px;
    top: 0;
  }
}

.random-icon {
  position: absolute;
  z-index: 2;
  top: 0.8cm;
  left: 0.8cm;
  width: 2cm;

  &.big {
    width: 3cm;
  }
}

.random-icon g path {
  fill: white;
  stroke: 1px black;
}

.print-is-dead-cut {
  width: 2cm;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border-left: dashed 1px black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.print-is-dead-trashcan {
  display: block;
  width: 1.4cm;
}

.cisors-icon {
  display: block;
  position: absolute;
  bottom: 1cm;
  left: -0.5cm;
  width: 1cm;
  // background-image: url(./images/trashcan.gif);
  
}