.edito-portrait {
  position: absolute;
  top: 2.8cm;
  left: -3.5cm;
  width: 3cm;
  z-index: 0;
}

.business-caption {
  position: absolute;
  top: 6.2cm;
  left: -3.5cm;
  z-index: 2;
  font-size: 7pt;

  &.lower {
    top: 6.8cm;
  }
}

.summary-item {
  margin-bottom: 0.7cm;
  position: relative;
}

.summary-item-icon {
  position: absolute;
  left: -3.5cm;
  top: -0.5cm;
  height: 1.7cm;
  width: 3cm;
  display: flex;
  justify-content: center;

  img {
    display: block;
    height: 100%;
  }
}

.summary-page-indicator {
  // background-color: blue;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 1.8cm;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    position: absolute;
    display: block;
    top: -0.09cm;
    right: 0;
    height: 125%;
    z-index: 0;
  }

  p {
    position: relative;
    z-index: 2;
    // font-size: 7pt;
  }
}

.ours .title-3 {
  margin-bottom: 0.02cm;

  &:not(:first-child) {
    margin-top: 0.2cm;
  }
}

.inline-emoji {
  display: inline-block;
  height: 0.4cm;
  margin-bottom: -0.1cm;
  margin-top: 0.1cm;
}

.dif-image {
  display: block;
  width: 100%;
}

.mgt-s {
  margin-top: 0.4cm;
}