.title-1 {
  height: 3.4cm;
  // border: dashed 1px black;
  position: relative;
  margin-bottom: 0.7cm;
}

.title-1-item {
  position: absolute;
  top: 0;
  left: 0;

  font-size: $title-size-1;
  color: white;
  text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000;
  margin: -14px 0 0;
  text-transform: uppercase;

  &:nth-child(1) {
    top: 0;
  }
  &:nth-child(2) {
    top: 22px;
  }
  &:nth-child(3) {
    top: 44px;
  }
  &:nth-child(4) {
    top: 66px;
  }
  &:nth-child(5) {
    top: 88px;
  }
  &:nth-child(6) {
    top: 100px;
  }
}


.section-icon {
  position: absolute;
  display: block;
  width: 3.4cm;
  max-height: 2.5cm;
  top: 0.2cm;
  left: -3.4cm;
  z-index: 10;

  &.large {
    max-height: none;
  }

  &.right {
    left: auto;
    right: -3.4cm;
  }
}

.title-full-page, .subtitle-full-page {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  // background-color: red;
}
.title-full-page {z-index: 0;}
.subtitle-full-page {z-index: 1;}

.title-fp-item {
  font-size: $title-size-1;
  color: white;
  text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000;
  text-transform: uppercase;
  position: absolute;
  left: 0;
}

.full-page-icon {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;

  img {
    display: block;
    width: 100%;
  }
}

.uppercase {
  text-transform: uppercase;
}

.title-2, .subtitle-fp-item {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  .title-2-text {
    position: relative;
    z-index: 2;
    display: block;
    text-align: center;
    margin: 0 auto;
    font-size: $title-size-2;
  }
  
  &.small {
    min-width: 167px;
    min-height: 130px;
    right: .6cm;
    top: 1.8cm;

    .title-2-text {
      width: 60%;
    }
  }

  &.medium {
    min-width: 200px;
    min-height: 160px;
    right: -0.4cm;
    top: 1.6cm;

    .title-2-text {
      width: 40%;
    }
  }

  &.large {
    min-width: 240px;
    min-height: 192px;
    // right: -0.4cm;
    // top: 1.6cm;

    .title-2-text {
      display: block;
      width: 35%;
    }
  }

  svg {
    display: block;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0.08cm;
  }

  &.inverted {
    top: 0;
    right: 0;
    color: white;
  }
 
}




.bulle {
  fill: white;
  stroke: black;
  stroke-width: 1;
}

.inverted .bulle {
  fill: black;
  stroke: black;
  stroke-width: 1;
}


.title-3 {
  font-family: $serif-font;
  font-size: $title-size-3;
  &:not(:first-child) {
    margin-top: 0.45cm;
  }
  &.margin-top:first-child {
    margin-top: 0.45cm;
  }
  &.margin-bottom {
    margin-bottom: 0.35cm;
  }
}

.arrow-stroke {
  fill: none;
  stroke: black;
  stroke-width: 3;
}

.arrow-head {
  fill: black;
}

.link {
  border-bottom: dashed 1px black;

  &::before {
    content: "";
    display: inline-block;
    font-family: 'Wingdings-3';
    transform: rotate(45deg) scale(1.2);
    margin-right: 0.1cm;
  }
}

.at-n-ash {
  border-bottom: dashed 1px black;
}

// Base text font is
.ital {
  display: inline;
  span {
    display: inline-block;
    transform: rotate(15deg);
    min-width: 5pt;
    text-transform: uppercase;
    font-size: $print-font-size-small;
  }
}

.small-font {
  font-size: $print-font-size-small;
}

.annotation-origin {
  border-bottom: 1px solid black;
  // text-decoration: underline;

  & + .annotation-content {
    position: absolute;
    width: 2.7cm;
    font-size: $print-font-size-small;
    line-height: $print-line-height-small;

    svg {
      display: block;
      position: absolute;
      width: 0.75cm;
      height: 0.75cm;
    }
  }
}

.left-side .annotation-content {
  right: 103%;

  &.annotation-bottom {
    transform-origin: center right;
    padding-top: 0.3cm;

    svg {
      top: -0.55cm;
      right: 0.2cm;
      transform: rotate(20deg);
    }
  }
  &.annotation-top {
    transform-origin: center right;
    padding-bottom: 0.5cm;
    // transform: translateY(-100%); ADDED IN JS

    svg {
      bottom: -0.35cm;
      right: 0.2cm;
      transform: scaleY(-1) rotate(20deg)
    }
  }
}

.right-side .annotation-content {
  left: 105%;

  &.annotation-bottom {
    transform-origin: center left;
    padding-top: 0.3cm;

    svg {
      top: -0.55cm;
      left: 0.1cm;
      transform: scaleY(-1) rotate(200deg);
    }
  }
  &.annotation-top {
    transform-origin: center left;
    padding-bottom: 0.5cm;
    // transform: translateY(-100%); ADDED IN JS

    svg {
      bottom: -0.35cm;
      left: 0.1cm;
      transform: rotate(200deg);
    }
  }
}

.annotation-jeux {
  margin-left: -0.5cm;
}

.highlight {
  position: relative;
  display: inline-block;
  font-size: $print-font-size-small;
  padding: 0 2pt;
  z-index: 1;
  // height: 12pt;
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: -1pt;
    left: 0;
    // background-color: black;
    border: dashed 0.5pt black;
    z-index: -1;
  }
}


.table-text {
  border: solid 1px black;
}
.table-title {
  position: relative;
  width: 100%;
  padding: 0.3cm;
  border-bottom: dashed 1px black;

  &.capital {
    text-transform: uppercase;
  }

  &:not(:first-child) {
    border-top: dashed 1px black;
  }
}
.table-text-content {
  padding: 0.3cm;
}

.table-text-small {
  @extend .table-text-content;
  border-top: dashed 1px black;
  font-size: $print-font-size-small
}

.superscript {
  position: absolute;
  top: 0;
  font-size: $print-font-size-small;
  text-indent: 0.3cm;
  // text-transform: uppercase;
}

.small-text {
  font-size: $print-font-size-small;
}


.name-to-append {
  text-decoration: underline;
}