.top-title-annotation {
  position: absolute;
  top: 4.3cm;
  left: 0cm;
}

.top-container {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: space-between;

  .top-item {
    width: 48.5%;
    // height: 5.8cm;
    display: none;

    img {
      display: block;
      width: 100%;
      transform: translateX(-0.25cm)
    }

    &.active {
      display: block;
    }
  }

  &.left {
    top: 0;
    .top-item.active:nth-child(7),
    .top-item.active:nth-child(8),
    .top-item.active:nth-child(9),
    .top-item.active:nth-child(10) {
      display: none
    }
  }

  &.right {
    top: 6.5cm;
    
    .top-item {
      transform: translateX(0.5cm);
    }

    .top-item.active:nth-child(1),
    .top-item.active:nth-child(2),
    .top-item.active:nth-child(3),
    .top-item.active:nth-child(4),
    .top-item.active:nth-child(5),
    .top-item.active:nth-child(6) {
      display: none
    }
  }
}

.top-item-text {
  word-break: break-all;
  width: 5.4cm;
  // font-size: $print-font-size-small;
  // margin-top: -0.1cm;

  span {
    line-height: 0.5cm;
  }
}

// .top-item-category {
//   border: dashed 1px black;
//   padding: 0.1cm 0.2cm;
//   // margin-top: 0.4cm;
// }
