.zoom-section{
  position: relative;
  width: 100%;
  height: 100%;
  // background-color: blue;

  .title-2 {
    z-index: 10;
  }
}

.zoom-intro {
  margin-bottom: 0.3cm;
}

.zoom-tool {
  position: relative;

  .table-text {
    background-color: white;
    position: relative;
    z-index: 10;
  }

  .table-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}

.zoom-tool-print .table-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  .superscript {
    display: block;
    position: relative;
    text-transform: initial;
    // line-height: 0.1cm;
  }
}

.table-title .tool-logo {
  display: block;
  height: 0.8cm;
  margin: -0.2cm 0;
}

.zoom-arrow {
  position: relative;
  width: 1px;
  height: 0.7cm;
  border-left: dashed 1px black;
  margin-left: 4.2cm;
  margin-bottom: 0.1cm;
  display: flex;
  justify-content: center;

  &.in-margin {
    margin-top: -0.7cm;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-top: solid 8px black;
    border-right: solid 4px transparent;
    border-left: solid 4px transparent;
    bottom: -0.1cm;
    // left: -4px;
  }
}

.definition {
  margin-bottom: 0.3cm;
}

.xerox {
  width: 3.5cm;
  position: absolute;
  left: -4cm;

  &.computer {
    top: 0;
  }

  &.printer {
    bottom: 0.5cm;
  }
}

.xerox-arrow {
  @extend .zoom-arrow;

  position: absolute;
  top: 2.7cm;
  bottom: 5cm;
  height: auto;
  left: -6.6cm;

}


// .zoom-tool {
//   width: 6.2cm;
//   position: absolute;
//   z-index: 1;

//   .tool-logo {
//     display: block;
//     position: absolute;
//     z-index: -1;
//   }

//   .tool-text {
//     padding: 5pt;
//     background-color: white;
//   }

//   &.atom {
//     left: 0cm;
//     top: 0cm;

//     .tool-logo {
//       top: 0cm;
//       right: -2.5cm;
//     }
//   }

//   &.jekyll {
//     left: 5cm;
//     top: 6.5cm;

//     .tool-logo {
//       top: -1cm;
//       left: -1.6cm;
//     }
//   }

//   &.github {
//     top: 12.6cm;
//     left: 3.1cm;

//     .tool-logo {
//       left: -2.7cm;
//       bottom: -1cm;
//     }
//   }

//   &.siteleaf {
//     top: 3.75cm;
//     left: 2cm;

//     .tool-logo {
//       left: -2cm;
//       top: -1.8cm;
//     }
//   }

//   &.chrome {
//     top: 11cm;
//     right: 0cm;

//     .tool-logo {
//       left: -2.5cm;
//       bottom: 1cm;
//     }
//   }
// }





// .zoom-arrow {
//   position: absolute;
//   display: block;
//   z-index: 2;

//   &.one {
//     width: 4cm;
//     top: 4.25cm;
//     left: 5cm;
//   }

//   &.two {
//     height: 5cm;
//     top: 9cm;
//     left: 0.7cm;
//     transform: rotate(20deg);
//   }

//   &.three-left {
//     height: 8.5cm;
//     top: 7cm;
//     right: -1.5cm;
//   }

//   &.three-right {
//     width: 3.3cm;
//     top: 7cm;
//     left: -1.5cm;
//   }

//   &.four {
//     width: 3cm;
//     top: 8.5cm;
//     right: 1cm;
//     transform: rotate(20deg);
//   }
// }





// .zoom-tool-print {
//   position: absolute;
//   width: 5.4cm;

//   &.html {
//     top: 0;
//     left: 0;
//   }

//   &.css {
//     bottom: 6.5cm;
//     left: 0;
//   }

//   &.pdf {
//     top: 8cm;
//     right: 0;
//   }
// }

// .xerox {
//   position: absolute;

//   &.computer {
//     bottom: 0;
//     left: 0;
//   }

//   &.printer {
//     top: 0;
//     right: -0.5cm;
//   }
// }


// .zoom-def-container {
//   height: 100%;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   align-items: flex-end;
// }

// .zoom-def-column {
//   width: 49%;
//   @extend .table-text;
  
//   .definition {
//     font-size: $print-font-size-small;
//     padding: 0.2cm 0.2cm 0.15cm 0.2cm;
//     &:not(:last-child) {
//       border-bottom: solid 1px black;
//     }
//   }
// }



