---
layout: default-grrrls
page-id: grrrls-exposition
permalink: /a-la-decouverte-d-internet/grrrls-exposition/
---

<div class="home">

    {% include browser-warnings.html %}

  <div class="screen-content">
    {% include screen-content-grrrls-exposition.html %}
  </div>

  <div class="print-content">
    {% include print-content-grrrls-exposition.html %}

  </div>

</div>