---
deluxe: "no"
free: "no"
grrrls: "yes"
title: "Édito"
subtitle: "Le mot de la rédactrice en chef"
---

<div class="page-content-text">
  {% include title.html %}
  {% include subtitle-m.html %}

  <img class="section-icon large" src="{{site.baseurl}}/assets/images/edito-icon.svg" alt="edito-icon">
  <img class="edito-portrait" src="{{site.baseurl}}/assets/images/businesswoman.gif" alt="businessman">

  <span class="business-caption lower">face-of-beautiful-woman-<br/>on-the-background-of-<br/>business-people.gif</span>

  <p>
     <br/><br/><br/><br/>
     Chez Objet Papier, vous le savez, nous n’aimons rien de moins que d’explorer 
     les liens qui existent entre le physique et le numérique, entre le fabuleux 
     univers virtuel qui offre tant de possibilités et la noblesse de l’objet palpable.<br/>
     Pour ce nouveau numéro, et pour tâcher de célébrer dignement les 30 ans du World 
     Wide Web, nous avons demandé à nos ingénieurs de porter cette idée à son paroxysme.
     En poussant les curseurs à fond de notre philosophie, ils ont réalisé cet étonnant 
     Objet Codé Non Identifié que vous tenez entre les mains.<br/>
     Équipé de votre surf, partez donc à la rencontre des vastes mondes des Internets, 
     vous y découvrirez des traditions curieuses, des techniques abruptes et des personnages 
     fascinants mais toujours de manière ludique !<br/><br/>
     
     Cerise sur le gâteau, cette toute nouvelle version de Print-it revisitée spécialement 
     pour la Grrrls Tech Zine Fair s’inspire de l’exposition Computer Grrrls à la Gaité Lyrique 
     en mettant à l’honneur les femmes qui ont fait l’informatique d’hier et d’aujourd’hui.<br/>
     En participant à la réalisation de votre propre magazine, vous venez de faire 
     votre premier pas dans le monde du <span class="annotation-origin">CSS&nbsp;Print&nbsp;!</span>
     <span class="annotation-content annotation-top">
       {% include arrow-arc-down.html %}
       Bien joué ! Tu as franchi toutes les étapes dans la création de 
       ton numéro de Print-it !
     </span>, nous vous proposons maintenant 
     d’embarquer pour un étonnant voyage au sein du vaste monde des ordinatrices !
  </p>

</div>
