---
deluxe: "yes"
free: "yes"
grrrls: "no"
title: "Édito"
subtitle: "Le mot du rédacteur en chef"
---

<div class="page-content-text">
  {% include title.html %}
  {% include subtitle-s.html %}

  <img class="section-icon large" src="{{site.baseurl}}/assets/images/edito-icon.svg" alt="edito-icon">
  <img class="edito-portrait" src="{{site.baseurl}}/assets/images/businessman.gif" alt="businessman">

  <span class="business-caption">Successful-businessman-<br>in-a-modern-office.gif</span>

  <p>
     <br/><br/><br/>

    Chez Objet Papier, vous le savez, nous n’aimons rien de moins que d’explorer 
    les liens qui existent entre le physique et le numérique, entre le fabuleux univers 
    virtuel qui offre tant de possibilités et la noblesse de l’objet palpable, 
    façonné par la main humaine, fruit de traditions parfois millénaires.
    Pour ce nouveau numéro, et pour tâcher de célébrer dignement les 30 ans du 
    <span class="annotation-origin">World Wide Web</span>
    <span class="annotation-content annotation-bottom">
      {% include arrow-arc-down.html %}
      Une toile d’araignée tissée par Tim Berners-Lee en 1989 à Genève.
    </span>, 
    nous avons demandé à nos ingénieurs de porter cette idée à son paroxysme. <br/>
    En poussant les curseurs à fond de notre philosophie, ils ont réalisé cet 
    étonnant Objet Codé Non Identifié que vous tenez entre les mains.
    Équipé de votre surf, partez donc à la rencontre des vastes mondes des Internets, 
    vous y découvrirez des traditions curieuses, des techniques abruptes et des personnages 
    fascinants. Vous croiserez peut-être l’âme et le squelette de notre label, mais 
    toujours de manière ludique ! Ici et là, des codes et des références binaires 
    vous aiguilleront sur la toile du savoir.<br/><br/>

    Cerise sur le gâteau, en participant à la réalisation de votre propre magazine, 
    vous venez de faire un premier pas dans le monde du 
    <span class="annotation-origin">CSS&nbsp;Print&nbsp;!</span>
    <span class="annotation-content annotation-top">
      {% include arrow-arc-down.html %}
      Bien joué ! Tu as franchi toutes les étapes dans la création de 
      ton numéro de Print-it !
    </span> <br>
    Nous vous avons codé un livre, vous avez imprimé un site ! Et si l’envie vous en 
    prend, agrémentez-le de vos propres rubriques et créations. Les plus curieux iront 
    jusqu’à réaliser leur propre magazine et pourront participer pleinement à 
    la grande réconciliation des mondes numériques et physiques.<br><br>
    Bonne lecture !

  </p>

</div>
