---
deluxe: "no"
free: "no"
grrrls: "yes"
title: "Édito"
subtitle:
---

<div class="page-content print-is-dead-wrapper">
  <div class="print-is-dead-title">
    Online<br/>
    the nipples*<br/>
    
  </div>

  <img class="random-icon big" src="{{site.baseurl}}/assets/images/bomb-icon.svg" alt="skull">
  <img class="random-icon big" src="{{site.baseurl}}/assets/images/bomb-icon.svg" alt="skull">
  <img class="random-icon big" src="{{site.baseurl}}/assets/images/bomb-icon.svg" alt="skull">
  <img class="random-icon big" src="{{site.baseurl}}/assets/images/bomb-icon.svg" alt="skull">
  <img class="random-icon big" src="{{site.baseurl}}/assets/images/bomb-icon.svg" alt="skull">
  <img class="random-icon big" src="{{site.baseurl}}/assets/images/bomb-icon.svg" alt="skull">
  <img class="random-icon big" src="{{site.baseurl}}/assets/images/bomb-icon.svg" alt="skull">
  <img class="random-icon big" src="{{site.baseurl}}/assets/images/bomb-icon.svg" alt="skull">
  

  <div class="print-is-dead-paragraph">
    Censurez ce sein que je ne saurais voir
  </div>

  {% include print-is-dead-cut.html%}
</div>
