---
deluxe: "yes"
free: "yes"
grrrls: "no"
title: "Édito"
subtitle:
---

<div class="page-content print-is-dead-wrapper">
  <div class="print-is-dead-title">
    La presse<br/>
    est morte*<br/>
    
  </div>

  <img class="random-icon" src="{{site.baseurl}}/assets/images/skull.svg" alt="skull">
  <img class="random-icon" src="{{site.baseurl}}/assets/images/skull.svg" alt="skull">
  <img class="random-icon" src="{{site.baseurl}}/assets/images/skull.svg" alt="skull">
  <img class="random-icon" src="{{site.baseurl}}/assets/images/skull.svg" alt="skull">
  <img class="random-icon" src="{{site.baseurl}}/assets/images/skull.svg" alt="skull">
  <img class="random-icon" src="{{site.baseurl}}/assets/images/skull.svg" alt="skull">
  <img class="random-icon" src="{{site.baseurl}}/assets/images/skull.svg" alt="skull">
  <img class="random-icon" src="{{site.baseurl}}/assets/images/skull.svg" alt="skull">
  

  <div class="print-is-dead-paragraph">
      à partir du moment où l'on a demandé aux lecteurs d'imprimer eux-même leur magazine.
  </div>

  {% include print-is-dead-cut.html%}
</div>
