---
deluxe: "yes"
free: "yes"
grrrls: "no"
title: Sommaire
subtitle:
---

<div class="page-content-text">
  {% include title.html %}

  <div class="summary-wrapper">
    <div class="summary-item">
      <div class="summary-item-icon">
        <img src="{{site.baseurl}}/assets/images/zoom-icon.svg" alt="zoom-icon">
      </div>
      <div class="summary-item-title title-3">
        Zoom sur…
      </div>
      <div class="summary-item-subtitle">
        La création d'OP007 Print-it.
      </div>
      <div class="summary-page-indicator">
        {% include bulle-tiny.html %}
        <p>p.06-11</p>
      </div>
    </div>

    <div class="summary-item">
      <div class="summary-item-icon">
          <img src="{{site.baseurl}}/assets/images/poesie-icon.svg" alt="poesie-icon">
      </div>
      <div class="summary-item-title title-3">
        Poésie 2.0
      </div>
      <div class="summary-item-subtitle">
        Ça clash online !
      </div>
      <div class="summary-page-indicator">
        {% include bulle-tiny.html %}
        <p>p.12-13</p>
      </div>
    </div>

    <div class="summary-item">
      <div class="summary-item-icon">
          <img src="{{site.baseurl}}/assets/images/art-icon.svg" alt="art-icon">
      </div>
      <div class="summary-item-title title-3">
        Arts
      </div>
      <div class="summary-item-subtitle">
        voyagesgratuits.com
      </div>
      <div class="summary-page-indicator">
          {% include bulle-tiny.html %}
          <p>p.14-17</p>
        </div>
    </div>

    <div class="summary-item">
      <div class="summary-item-icon">
          <img src="{{site.baseurl}}/assets/images/enquete-icon.svg" alt="enquete-icon">
      </div>
      <div class="summary-item-title title-3">
        Enquête sur…
      </div>
      <div class="summary-item-subtitle">
        GeoCities, l'internet du passé.
      </div>
      <div class="summary-page-indicator">
          {% include bulle-tiny.html %}
          <p>p.18-23</p>
        </div>
    </div>

    <div class="summary-item">
      <div class="summary-item-icon">
          <img src="{{site.baseurl}}/assets/images/top50-icon.svg" alt="top50-icon">
      </div>
      <div class="summary-item-title title-3">
        Top 30
      </div>
      <div class="summary-item-subtitle">
        Des choses a voir sur internet…
      </div>
      <div class="summary-page-indicator">
          {% include bulle-tiny.html %}
          <p>p.24-25</p>
        </div>
    </div>

    <div class="summary-item">
      <div class="summary-item-icon">
          <img src="{{site.baseurl}}/assets/images/horoscope-icon.svg" alt="horoscope-icon">
      </div>
      <div class="summary-item-title title-3">
        Horoscope
      </div>
      <div class="summary-item-subtitle">
        par la professeure Zerep.
      </div>
      <div class="summary-page-indicator">
        {% include bulle-tiny.html %}
        <p>p.27-29</p>
      </div>
    </div>

    <div class="summary-item">
      <div class="summary-item-icon">
          <img src="{{site.baseurl}}/assets/images/jeux-icon.svg" alt="jeux-icon">
      </div>
      <div class="summary-item-title title-3">
        Jeux
      </div>
      <div class="summary-item-subtitle">
        À toi de jouer !
      </div>
      <div class="summary-page-indicator">
          {% include bulle-tiny.html %}
          <p>p.30-31</p>
        </div>
    </div>

  </div>

</div>
