---
deluxe: "yes"
free: "yes"
grrrls: "yes"
title: Zoom sur…
subtitle: La conception d'Objet Papier 007.
---

<div class="page-content-text">
  <div class="zoom-section">
    
    <h3 class="title-3">Outils de conception web</h3>

    <p class="zoom-intro">
      On prend sa respiration et on plonge tout de suite dans l’océan obscur 
      et vertigineux des coulisses de cette édition. N’oublie pas ta lampe 
      frontale, la connaissance est au bout du périple !
    </p>
    
    
    <div class="zoom-tool atom">
      <!-- <img class="tool-logo" src="{{ site.baseurl }}assets/images/atom-logo.gif" alt="Atom logo"> -->
      <div class="table-text">
        <h3 class="table-title capital">
          <p>Atom</p>
          <img class="tool-logo" src="{{ site.baseurl }}/assets/images/atom-logo.gif" alt="Atom logo">
        </h3>
        <div class="table-text-content zoom-tool-content">
          Atom est un éditeur de texte pour <span class="ital">mac-os</span>, 
          <span class="ital">linux</span> <br/>et <span class="ital">Windows</span>. 
          Il permet d'écrire du <span class="highlight">code source</span>.<br/>
        </div>
        <div class="table-text-small">
          Atom est l'outil de création de la structure <span class="annotation-origin">HTML</span>, des feuilles <span class="annotation-origin">CSS</span>
          et du
          <span class="annotation-origin">Javascript</span>
          <span class="annotation-content annotation-top">
            {% include arrow-arc-down.html %}
            Découvre le détail de ces acronymes à la page 10.
          </span>
          qui compose Print-it. Il lui a permis petit à petit de prendre forme.
        </div>
      </div>
    </div>

    <div class="zoom-arrow"></div>
    <!-- <img class="zoom-arrow one" src="{{ site.baseurl }}assets/images/zoom-arrow-1.svg" alt="arrow"> -->

    <div class="zoom-tool jekyll">
      <div class="table-text">
        <h3 class="table-title capital">
          <p>Jekyll</p>
          <img class="tool-logo" src="{{ site.baseurl }}/assets/images/jekyll-logo.gif" alt="Jekyll logo">
        </h3>
        <div class="table-text-content zoom-tool-content">
          Jekyll est un générateur de <span class="highlight">site statique</span> 
          dévéloppé par <span class="ital">Tom Preston-Werner</span>, écrit en <br/><span class="highlight">langage de programmation</span> 
          <span class="ital">Ruby</span>.
          <span class="annotation-origin">Sympa comme tout</span>,
          <span class="annotation-content annotation-bottom">
              {% include arrow-arc-down.html %}
              Jekyll est sympa mais qu’en est-il de Mr Hyde ? :o
          </span> il est considéré comme un des générateurs de sites statiques les plus populaires. <br/>
        </div>
        <div class="table-text-small">
            Jekyll s'est occupé de synchroniser les différentes parties du code (HTML/CSS/JS…) de Print-it.
        </div>
      </div>
    </div>

    <div class="zoom-arrow"></div>

    <!-- <img class="zoom-arrow two" src="{{ site.baseurl }}assets/images/zoom-arrow-2.svg" alt="arrow"> -->

    <div class="zoom-tool github">
      <div class="table-text">
        <h3 class="table-title capital">
          <p>GitHub</p>
          <img class="tool-logo" src="{{ site.baseurl }}/assets/images/github-logo.gif" alt="Github logo">
        </h3>
        <div class="table-text-content zoom-tool-content">
          GitHub est une plateforme d’hébergement
          et de gestion de <span class="highlight">codes sources</span> basée sur le protocole
          de <span class="highlight">versionning</span> Git et sur les méthodes
          de travail collaboratif propre à l’<span class="highlight">open source</span>. <br/>
        </div>
        <div class="table-text-small">
          Github héberge le code source de Print-it et permet de regrouper et 
          synchroniser les changements qui lui sont apportés.
        </div>
      </div>
    </div>

    <div class="zoom-arrow"></div><div class="zoom-arrow"></div>

    

  </div>
</div>
