---
deluxe: "yes"
free: "yes"
grrrls: "yes"
title: Zoom sur…
subtitle: La conception d'Objet Papier 007.
---

<div class="page-content-text">
  <div class="zoom-section">

    <div class="zoom-arrow in-margin"></div><div class="zoom-arrow"></div><div class="zoom-arrow"></div>

    <div class="zoom-tool siteleaf">
      <div class="table-text">
        <h3 class="table-title capital">
          <p>Siteleaf</p>
          <img class="tool-logo" src="{{ site.baseurl }}/assets/images/siteleaf-logo.gif" alt="Atom logo">
        </h3>
        <div class="table-text-content">
            Développé par <span class="ital">Oak Studio</span>, Siteleaf est le compagnon idéal 
            de Jekyll. Il se connecte à GitHub et héberge le site sur une <span class="highlight">URL</span>. Son 
            <span class="highlight">CMS</span> facilite la mise à jour du contenu du site.<br/>
        </div>
        <div class="table-text-small">
            Siteleaf a permis de synchroniser toutes les modifications apportées à Print-it via 
            le code et via le CMS puis d'afficher le résultat sur une URL.
        </div>
      </div>
    </div>
    
    <div class="zoom-arrow"></div>

    <div class="zoom-tool chrome">
      <div class="table-text">
        <h3 class="table-title capital">
          <p>Chrome</p>
          <img class="tool-logo" src="{{ site.baseurl }}/assets/images/chrome-logo.gif" alt="Atom logo">
        </h3>
        <div class="table-text-content">
            Navigateur web développé par 
            <span class="annotation-origin"><span class="ital">Google</span></span>
            <span class="annotation-content annotation-bottom">
                {% include arrow-arc-down.html %}
                Cette petite entreprise familiale nous a supplié de leur faire de la pub, on a pas su dire non :/
            </span>
            c’est un logiciel conçu pour accéder aux URL et afficher le contenu des pages du
            <span class="ital">World Wide Web</span>. Le terme «navigateur» est inspiré de <br/><span class="ital">Netscape Navigator</span>, 
            un navigateur phare apparu au milieu des années 1990. Les navigateurs Web 
            les plus utilisés à l’heure actuelle sont <span class="ital">Google Chrome</span>, <span class="ital">Mozilla Firefox</span>, 
            <br/><span class="ital">Microsoft Edge</span> et <span class="ital">Apple Safari</span>. <br/>
        </div>
        <div class="table-text-small">
            C’est grâce à Chrome que tu peux visualiser l’interface d’accueil de Print-it rien 
            qu’avec tes yeux. On te recommande l'utilisation de celui-ci pour l’impression car 
            il est le seul et l’unique navigateur à gérer le CSS print comme un chef ! 
        </div>
      </div>
    </div>

    <div class="zoom-arrow"></div>

    <div class="zoom-tool">
      <div class="table-text">
        <div class="table-text-content">
            <span class="link">https://objetpapier.fr/print-it/</span>
        </div>
      </div>
    </div>

  </div>
</div>
