---
deluxe: "yes"
free: "yes"
grrrls: "yes"
title: Zoom sur…
subtitle: La conception d'Objet Papier 007.
---

<div class="page-content-text">
  <div class="zoom-section">

    <h3 class="title-3 margin-bottom">Du web au print</h3>

    <div class="zoom-tool-print html">
      <div class="table-text">
        <h3 class="table-title capital">
          <p>HTML</p>
          <span class="superscript">HyperText Markup Language</span>
        </h3>
        <div class="table-text-content">
            Le HTML est un langage de description de données structuré en balises, conçu pour décrire 
            le contenu d’une page Web. C’est le squelette d’une page web. 
            Il s’agit de l’une des trois inventions, avec <span class="highlight">HTTP</span> et <span class="highlight">URL</span> 
            qui ont permis l’existence du Web.
        </div>
      </div>
    </div>

    <div class="zoom-arrow"></div>

    <div class="zoom-tool-print css">
      <div class="table-text">
        <h3 class="table-title capital">
          <p>CSS</p>
          <span class="superscript">Cascading Style Sheets</span>
        </h3>
        <div class="table-text-content">
          <span class="annotation-origin"></span>
          <span class="annotation-content annotation-top">
            {% include arrow-arc-down.html %}
            Les bas-fonds d’Internet sont remplis de sigles hostiles aux voyelles, on se demande bien ce qu’ils en ont fait.
          </span>
          Les feuilles de style en cascade (en français) désignent un langage informatique servant à décrire la présentation de documents Web (généralement des pages Web).
          C’est le style ou l’apparence d’une page web.
        </div>
        <h3 class="table-title capital">CSS Print</h3>
        <div class="table-text-content">
          Le CSS Print est un ensemble d’instructions écrites en langage informatique CSS servant à gérer l’aspect imprimé d’une page Web. 
          Il est ainsi possible d’utiliser le Web comme un environnement de mise en page et de publication multi-supports.

        </div>
      </div>
    </div>

    <div class="zoom-arrow"></div>

    <div class="zoom-tool-print css">
      <div class="table-text">
        <h3 class="table-title capital">
            <p>PDF</p>
            <span class="superscript">Portable Document Format</span>
        </h3>
        <div class="table-text-content">
          <span class="annotation-origin"></span>
          <span class="annotation-content annotation-bottom">
            {% include arrow-arc-down.html %}
            On s’accroche c’est bientôt l’heure de s’amuser ! 
          </span>
          Plus connu sous son acronyme, le PDF est un langage de description
          de page présenté par la société <span class="ital">Adobe Systems</span> en 1992 et qui est
          devenu une norme ISO en 2008. La spécificité de celui-ci est de
          préserver la mise en page d’un document telle qu'elle a été définie
          par son auteur, et cela quel que soit le logiciel, le système
          d'exploitation ou l'ordinateur utilisé pour l’imprimer ou le visualiser.
        </div>
      </div>
    </div>

    

  </div>
</div>
