---
deluxe: "yes"
free: "yes"
grrrls: "yes"
title: Zoom sur…
subtitle: La conception d'Objet Papier 007
---

<div class="page-content-text">
  <div class="zoom-section">

    <h3 class="title-3">Lexique</h3>

    <img class="xerox printer" src="{{ site.baseurl }}/assets/images/xerox-printer.gif" alt="xerox computer">

    <img class="xerox computer" src="{{ site.baseurl }}/assets/images/xerox-computer.gif" alt="xerox computer">

    <div class="xerox-arrow"></div>


    <div class="definition">
      <span class="highlight">Code source</span> 
      Le code source d’un programme informatique est un texte contenant 
      des instructions rédigées dans un ou plusieurs langages de programmation, 
      il est lu par la machine qui exécute ces instructions.<br/>
    </div>

    <div class="definition">
      <span class="highlight">CMS</span> 
      (Content Management System) C’est un type de programme permettant 
      de modifier le contenu d'un site web via une interface graphique.<br/>
    </div>
    

    <div class="definition">
      <span class="highlight">Site statique</span> 
      Un site statique génère la même page pour tous les internautes à 
      l’inverse d’un site dynamique qui variera son contenu en fonction 
      de l’internaute.<br/>
    </div>
    

    <div class="definition">
      <span class="highlight">Langage de programmation</span> 
      C’est un système destiné à l’écriture du code source. 
      Comme les langues naturelles, chaque langage de programmation 
      possède un alphabet, une sémantique, un vocabulaire et des règles 
      syntaxiques spécifiques.<br/>
    </div>
    
    
    <div class="definition">
      <span class="highlight">URL</span>
      (Uniform Resource Locator) Désigne l’adresse Web permettant
      à un navigateur Web de localiser une ressource en ligne
      (fichier, image, page Web, etc.). Formalisé par Tim Berners-Lee en 1989,
      le protocole permettant aux URL de fonctionner est une des inventions
      à la base du World Wide Web.<br />
    </div>
    

    <div class="definition"><span class="highlight">HTTP</span> 
      (Hypertext Transfer Protocol) C'est le moyen de communication 
      entre le serveur et le navigateur. HTTPS est la variante Sécurisée du HTTP.<br/>
    </div>

    <div class="definition">
      <span class="highlight">Open source</span>
      En opposition à la philosophie du logiciel propriétaire,
      l’open source est une méthodologie de développement pragmatique
      basée sur le travail collaboratif et sur le partage du codes sources.<br />
    </div>
    

    <div class="definition">
      <span class="highlight">Versioning</span> 
      (Gestion de version en français) La gestion de versions 
      consiste à maintenir l'ensemble des modifications d'un 
      ou plusieurs fichiers par une ou plusieurs personnes. 
      Essentiellement utilisée dans le domaine de la création 
      de logiciels, elle concerne surtout la gestion des codes source.<br/>
    </div>
    

  </div>
</div>
