---
deluxe: "no"
free: "no"
grrrls: "yes"
title: GRRRLS
subtitle: Portrait
---

<div class="page-content-text">
  <!-- <img class="grrrls-image" src="{{site.baseurl}}/assets/images/grrrls/the-unbinding.gif" alt="the unbinding"> -->
  <!-- <img class="grrrls-image" src="{{site.baseurl}}/assets/images/grrrls/jenny-odell.gif" alt="the unbinding"> -->

  {% for grrrls-item in site.grrrls-content %}
    <div class="grrrls-content grrrls-img" id="{{forloop.index}}">
      <img class="grrrls-image" src="{{site.baseurl}}{{grrrls-item.image}}" alt="Computer Grrrls - artwork image">
    </div>
  {% endfor %}
</div>
