---
deluxe: "yes"
free: "yes"
grrrls: "no"
title: Poesie 2.0
subtitle: Ça clash online !
---

<div class="page-content-text">
  
  
  <div class="poetry-section kaaris">
      <img class="poetry-logo" src="{{site.baseurl}}/assets/images/youtube-logo.gif" alt="">
      <div class="poetry-content kaaris">
        Kaaris : Tu vois, il y’a aucun mec <br/>de quartier qui se bat sur internet.<br/>
        On se bat pas sur internet nous,<br/> tout se passe dans la street.
      </div>
      <div class="explanation kaaris">
          Dans son grief contre le duc (aka Booba) Kaaris partage 
          en ligne une vidéo de lui dans laquelle il vante les mérites 
          de sa bande. Eux règlent leurs querelles en bas des blocs, 
          pas sur Internet. À part cette fois-ci peut être ?
      </div>
  </div>


  <div class="poetry-section alkapote">
    <img class="poetry-logo" src="{{site.baseurl}}/assets/images/twitter-logo.gif" alt="">
      <div class="poetry-content alkapote">
        Alkpote : <span class="at-n-ash">@FrancoisFillon</span> <br/>
        Tu n’est qu’une simple @#!&
        <!-- <img class="emoji" src="{{site.baseurl}}/assets/images/emoji-danse.gif" alt="DANCE!"> -->
      </div>
      <div class="explanation alkapote">
          Suite à des tweets à l'accent particulièrement conquérant de la part de François Fillon, 
          le rappeur Alkpote lui répond et lui fait part de son ressenti sur ses propos. 
          Internet, la communication, le partage…
      </div>
  </div>


  <div class="poetry-section 50cent">
      <img class="poetry-logo" src="{{site.baseurl}}/assets/images/insta-logo.gif" alt="">
      <div class="poetry-content 50cent">
        <img class="insta-post" src="{{site.baseurl}}/assets/images/50cent.gif" alt="50cent seats">
        50cent : Lol at $15 a pop you can’t lose, I got 200 tickets for 3 bands. XD <span class="at-n-ash">#bellator</span> <span class="at-n-ash">#lecheminduroi</span>
      </div>
      <div class="explanation 50cent">
          Un aller-retour vieux de plusieurs années. Cette fois, 50cent prétend dans un post 
          Instagram qu'il s’est procuré les trois premiers rangs du concert de Ja Rule. 
          Suivi d'un photo-montage illustrant la situation. Avec l'âge vient la sagesse, parfois.
      </div>
  </div>


</div>
