---
deluxe: "no"
free: "no"
grrrls: "yes"
title: GRRRLS
subtitle: Exclusif !
---

<div class="page-content-text">
  {% include title.html %}
  {% include subtitle-s.html %}

  <img class="section-icon" src="{{site.baseurl}}/assets/images/grrrls-icon.svg" alt="grrrls-icon">

  
  À l'occasion de <br/>
  l'événement Grrrls Tech <br/>
  Zine Fair Print-it met à <br/>
  l'honneur une des artistes de l'exposition
  Computer Grrrls présentée à la Gaité Lyrique du 14 mars au 14 juillet 2019.
  <br/><br/>

  {% for grrrls-item in site.grrrls-content %}
    <div class="grrrls-content grrrls-text-content" id="{{forloop.index}}">
      <h3 class="title-3">{{grrrls-item.artist}}</h3>
      {{grrrls-item.bio}}
      {% if grrrls-item.website %}
        <br/>
        <span class="link">{{ grrrls-item.website }}</span>
      {% endif %}
      <br/><br/>
      {% for artwork in grrrls-item.artwork %}
        <span class="ital">{{artwork.title}}</span><span class="small-font"> - {{artwork.format}}</span>
        {% if artwork.meta %}
          <br />
          <span class="small-font">{{artwork.meta}}</span>
        {% endif %}
        {% if artwork.desc %}
          <br />
          {{artwork.desc | markdownify}}
        {% endif %}
        <br/>
      {% endfor %}
    </div>
  {% endfor %}



  <!-- <h3 class="title-3">Lauren Moffatt</h3>
  Lauren Moffatt est une artiste australienne qui travaille avec les médias immersifs. Elle explore les sources de friction entre les mondes virtuels et physiques. deptique.net<br/>
  <br/>
  <span class="ital">The Unbinding</span>
  <span class="small-font"> - 2014 - Installation vidéo stéréoscopique<br/>
    Une production Le Fresnoy, Studio national des arts contemporains<br/>
  </span>
  Un visage fragmenté dans une cabane au milieu d'une foret, qui flirt avec la vallée dérangeante.
  Dans son œuvre, Lauren Moffatt fait référence aux mots de l’artiste Hito Steyerl selon laquelle le cerveau fonctionne comme un navigateur Web où chaque image en rappelle une autre. -->





  <!-- <h3 class="title-3">Jenny Odell</h3>
  Jenny Odell est une artiste et autrice vivant à Oakland en Californie. Son travail est souvent en lien avec les archives. Elle est l’autrice d’un livre How to do nothing, Resisting the Attention Economy, à paraître en avril 2019. <span class="link">www.jennyodell.com</span>
  <br/>

  <br/><span class="ital">Polly Returns</span>
  <span class="small-font">
     - 2017 - vidéo, 3:03 min <br/>
    Courtesy de l’artiste<br/>
  </span>
  Jenny Odell s'inspire d'une animation 3D de Shelley Lake datant de 1988 intitulée Polly Gone. 
  Elle ranime le personnage de ce dernier dans le but d'aborder le "digita sublime" et son coté horrifiant.

  <br/><br/>
  <span class="ital">Neo-Surreal</span>
  <span class="small-font">
     - 2017 - 
    Impressions numériques<br/>
    Courtesy de l’artiste<br/>
  </span>
  Une mise en regard contemporaine de publicités pour des produits informatiques datant des années 1980.
  On y distingue des sujets actuels de la technologie tel que la surveillance, ces accents visionnaires ont de quoi vous donner froid dans le dos en 2019. -->


</div>
