---
deluxe: "yes"
free: "yes"
grrrls: "no"
title: Poesie 2.0
subtitle: Ça clash online !
---

<div class="page-content-text">
  {% include title.html %}
  {% include subtitle-s.html %}
  <img class="section-icon" src="{{site.baseurl}}/assets/images/poesie-icon.svg" alt="edito-icon">

  <div class="poetry-intro small-font">
      Sur le World Wide Web, <br/>
      les mots remplacent les poings <br/>
      et les querelles se transforment <br/>
      en joutes verbales envolées.<br/> 
      Quel fabuleux moyen d’aiguiser sa plume 
      tout en conservant sa dignité ! Qui a dit que le clash n'était pas un «noble art» ?
  </div>

  <div class="poetry-section jokekra">
    <img class="poetry-logo" src="{{site.baseurl}}/assets/images/message-logo.gif" alt="">
    <div class="poetry-content jokekra">
      
      <div class="message left">
        Joke<br/>
        - C’est de moi que tu <br/>
        parles dans ton tweet la?
      </div>
      <div class="message right">
        Kekra<br/>
        T ki toi -
      </div>
      <div class="message right">
        Tu ve koi -
      </div>
      <div class="message right">
        Il tfallai combien -
      </div>
      <div class="message right">
        Réponds t ki toi -
      </div>
      <div class="message right">
        Répond t ki toi -
      </div>
      <div class="message right">
        Il tfallai combien -
      </div>
      <div class="message right">
        Yencli -
      </div>
    </div>
    <div class="explanation jokekra">
        Après la prise de position de Joke sur l'utilisation du <br/>«N-word» français par 
        les personnes blanches, Kekra se sent visé et dégaine un tweet à l'attention 
        de ce premier. S'en suit un échange de messages privés moqueurs. Un petit 
        pas pour la querelle de rappeurs, un grand pas pour le troll.
    </div>
  </div>


  <div class="poetry-section trump">
      <img class="poetry-logo" src="{{site.baseurl}}/assets/images/twitter-logo.gif" alt="">
      <div class="poetry-content trump">
        Donald Trump : Can you imagine what <br/>the outcry would be if <span class="at-n-ash">@SnoopDogg</span>, <br/>failing career and all, had aimed and fired <br/>the gun at President Obama? Jail time!
      </div>
      <div class="explanation trump">
        La politique Trump ne laisse pas indifférent notre ami Snoop Dogg qui,
        ayant quelques reproches sur celle-ci, se met en scène dans un ses clips
        en train de tirer avec un pistolet de farces et attrapes sur le politicien.
        «Bang !» et le twittos tweeta.
      </div>
  </div>

</div>
