---
deluxe: "yes"
free: "yes"
grrrls: "no"
title: Arts
subtitle: Voyages gratuits.com
---

<div class="page-content-text">
  <div class="image-container-arts column">
    <img src="{{site.baseurl}}/assets/images/rossi-2.gif" alt="rossi-1">
    <img src="{{site.baseurl}}/assets/images/rossi-3.gif" alt="rossi-1">
    <p class="art-text">
      Après de longues études en droit administratif, commerce et tourisme, Antonio Google créa en 2006 Voyagesgratuits.com, la première agence de tourisme en ligne qui permit à des millions de personnes d’accéder à l’évasion et à la découverte de notre chère planète bleue. Afin de proposer des destinations atypiques et gratuites pour tous, Monsieur Google a parcouru le monde à la recherche de lieux insolites et inconnus.
      Véritable escapade visuelle, Voyagesgratuits.com est considérée aujourd’hui comme une des plus belles créations de notre temps.
      <span class="annotation-origin"></span>
      <span class="annotation-content annotation-top art-notation">
        {% include arrow-arc-down.html %}
        Une fiction proposée par Guillaume Rossi avec l’aide de Google Earth.
      </span>
      Cet article est dédié à la mémoire d’Antonio, disparu en 2015 au cours d’un de ses voyages.<br/><br/>
    </p>
  </div>
  

</div>
