---
deluxe: "yes"
free: "yes"
grrrls: "yes"
title: Enquête sur…
subtitle: GeoCities, l'internet du passé.
---

<div class="page-content-full">
  <div class="full-page-icon">
    <img class="enquete-icon" src="{{ site.baseurl }}/assets/images/enquete-icon.svg" alt="Enquete sur icon">
  </div>
</div>
