---
deluxe: "yes"
free: "yes"
grrrls: "yes"
title: Enquête sur…
subtitle: GeoCities, l'internet du passé
---

<div class="page-content-text geocities">
    <div class="title-3">GeoCities, c'est quoi ?</div>
    Novembre 1994, la société Beverly Hills Internet propose quinze mégaoctets d'hébergement 
    gratuit sur le web. Si cet espace est dérisoire à l'heure actuelle et n'accueille 
    guère plus que quelques images, c'est une luxuriante promesse qui attire des dizaines 
    de milliers d'utilisateurs dès ses premiers mois d'existence. Rapidement rebaptisé 
    GeoCities le simple
    <span class="annotation-origin"></span>
    <span class="annotation-content annotation-bottom">
        {% include arrow-arc-down.html %}
        Quelle histoire !
    </span>
    service d'hébergement se transforme en outil de création de site internet, <br/>et intègre 
    un «Content Management System» permettant l'édition de contenu via une interface graphique. 
    Si le CMS GeoCities demande quelques connaissances dans ses premières versions pour créer 
    en toute liberté, il évolue vers une expérience accessible permettant aux utilisateurs 
    les moins expérimentés de se faire une place dans cet univers.
    À la fin des années 90, Internet en est encore à ses balbutiements et convaincre 
    les utilisateurs demande plus qu'une interface ergonomique. Pour répondre à ce besoin, 
    les créateurs de GéoCities introduisent une dimension «skeuomorphique» à leur produit, 
    et mime l'emménagement d'un espace. Lors de la création d'une page, on s'y installe 
    comme dans la vie réelle, on choisit une ville, <br/>un quartier puis on se voit attribué 
    un numéro, <br/>le tout définissant l'adresse de notre nouvelle résidence virtuelle, 
    où l'on peut façonner son coin d’Internet et le partager avec le Monde.
    GeoCities est un lieu d’expression libre ou les blogs d’adolescents avoisinent les récits de 
    <span class="annotation-origin">vétérans de guerre et les fansites de popstars japonaises.</span>
    <span class="annotation-content annotation-top">
        {% include arrow-arc-down.html %}
        C’est ce qu’on appelle la convergence des luttes.
    </span> <br/>Ces sujets divers et variés prennent vie à travers une esthétique marquée 
    par gifs, typographies et word-arts en «Web Safe Colors» (216 couleurs). Print-it 
    revient sur cet internet du passé et te donne les clés essentielles d'une page 
    GeoCities digne de ce nom.
    <div class="title-3">Les essentiels d’une page GeoCities</div>
    <ul>
        <li> 
            <span class="highlight">Fonds en mosaïque</span> 
            Les images d'arrière plan de 1000&nbsp;pixels de large ne sont pas les meilleures amies du 56k. 
            En 1994 les fonds sont des répétitions d'une image de petite taille par soucis de bande passante.
        </li>
    </ul>
</div>
