---
deluxe: "yes"
free: "yes"
grrrls: "yes"
title: Enquête sur…
subtitle: GeoCities, l'internet du passé
---

<div class="page-content-text geocities">
  <ul>
    <li>
      <span class="highlight">«Microbars» ou «timbres»</span>
      Petites images d'une taille spécifique servant à revendiquer une opinion sur l'utilisation
      d'un navigateur plutôt qu'un autre ; ou simplement clamer son amour pour les chats.
    </li>
    <li>
      <span class="highlight">Gifs animés</span>
      Ce format permet d'afficher des animations dans des fichiers très légers,
      il a fait fureur bien avant snapchat et les réseaux sociaux, surtout sur GeoCities.
    </li>
    <li>
      <span class="highlight">Mention «en construction»</span>
      Une page GeoCities est une œuvre d'art en constante évolution, il ne faut surtout
      pas oublier de le préciser, pour faire revenir votre visiteur.
    </li>
    <li>
      <span class="highlight">Typographies diverses, souvent en format image</span>
      L'Internet des années 90 se limitait aux quelques fontes de base,
      les typographies spécifiques devaient être insérées dans des images.
    </li>
    <li>
      <span class="highlight">«Hotlinks»</span>
      Liens qui utilisent une resource d'un autre site, une image le plus souvent.
      Cause de beaucoup de lien morts sur GeoCities. Le terme a souvent été utilisé 
      pour désigner les liens des sites GeoCities, à tort. 
      <!-- http://claire.billaud.free.fr/hotlink.htm -->
    </li>
    <li>
      <span class="highlight">«Frames»</span>
      Un frame est une sous fenêtre contenant une autre page html avec son défilement propre.
      Les frames ont permis des designs plus poussés et des expériences parfois désastreuses pour l'utilisateur.
      <!-- http://blog.geocities.institute/archives/2856 -->
    </li>
    <li>
      <span class="highlight">Mise en page fixe</span>
      En 1994, l'affichage web est normée par une taille, la consultation s'effectuant
      le plus souvent sur un moniteur affichant une résolution de 800 pixels de large par 600 de haut.
    </li>
  </ul>

  <div class="title-3 margin-top">Références à GeoCities</div>

  Métropole virtuelle autrefois surpeuplée et en perpétuelle construction, ses quartiers 
  sont aujourd'hui déserts, les habitants ayant migré vers un nouvel eldorado porté 
  sur des interactions plus poussées entre les utilisateurs : les réseaux sociaux. 
  Faisant place à la navigation «monitoré» et à l'internet marketing, l'expérience 
  GeoCities a de quoi rendre les internautes des années 90 nostalgiques. Nous avons 
  sélectionné quelques projets lui rendant hommage, à découvrir ci-contre.

</div>
