---
deluxe: "yes"
free: "yes"
grrrls: "yes"
title: Enquête sur…
subtitle: GeoCities, l'internet du passé
---

<div class="page-content-text geo-references">
    <div>
        <img src=" {{site.baseurl}}/assets/images/camerons.gif " alt="Cameron's world">
        <span class="ital">Cameron's world</span> <br />
        Véritable lettre d'amour à GeoCities, Cameron's world est l'œuvre du designer néo zélandais Cameron Askin. À travers une page regorgeant de visuels tout droit sortie de la blogosphère de 1996, il nous transporte dans différents quartiers, l'expérience est saisissante, presque plus vraie que nature.<br /><br />
    </div>
    <div>
        <img src=" {{site.baseurl}}/assets/images/deleted-city.gif " alt="Deleted city">
        <span class="ital">Deleted City</span><br />
        Quinze ans d'activité et 650 Go d'archives, GeoCities est un sacré pavé d'internet, et pas des plus accueillant à explorer. Richard Vijgen nous facilite la tâche avec Deleted City, une carte interactive de l'archive de GeoCities, de quoi visualiser l'intégralité de son contenu et se rendre compte de ses proportions.<br /><br />
    </div>
    <div>
        <img src=" {{site.baseurl}}/assets/images/cities-izer.gif " alt="GeoCities-izer">
        <span class="ital">GeoCities-izer</span><br />
        Après avoir parcouru cet article vous ne rêvez que d'une chose : qu'internet tout entier ressemble à GeoCities. Grâce à GeoCities-izer ce rêve devient réalité, il vous suffit d'entrer l'adresse de votre site préféré afin de le transformer en une version «GeoCities ready», pour ne plus se prendre la tête avec l'ergonomie et tout ce bazar.<br /><br />
    </div>
    <div>
        <img src=" {{site.baseurl}}/assets/images/neocities.gif " alt="Neocities">
        <span class="ital">NeoCities</span><br />
        L'esthétique' des sites geocities peut paraitre daté pour beaucoup d'entre nous, les modes se renouvelles.
        Ce sont plusieurs milliers d'utilisateurs qui ont créé des versions modèrnes de sites GeoCities, en concervant cette
        patte graphique si particulière. NeoCities regroupe le travail de tous ces fondus de Netscape.<br /><br />
    </div>
    <div class="title-3">Les bonnes choses ont une fin</div>
    Si le service a fermé ses portes en 2009, <br/>The Archive Team a sauvé les 
    650 Go avant la suppression définitive, l'archive est consultable librement 
    <span class="annotation-origin"></span>
    <span class="annotation-content annotation-top">
        {% include arrow-arc-down.html %}
        Une enquête dûment menée par Corentin Moussard.
    </span>
    à différents endroits sur le web. La version japonaise de GeoCities quand a elle aura 
    subsisté une décennie de plus, elle fermera ses portes en mars 2019.

</div>
