---
deluxe: "yes"
free: "yes"
grrrls: "yes"
title: Top 30
subtitle: Des choses à voir sur internet
top-items:
  - id: 1
    link: http://www.theroadbackhome.net/
    category:  expérience visuelle et sonore

  - id: 2
    link: http://www.therestartpage.com/
    category: expérience visuelle

  - id: 3
    link: http://trumpdonald.org/
    category: expérience intéractive et sonore
  - id: 4
    link: https://clickclickclick.click
    category: expérience intéractive

  - id: 5  
    link: http://sponsoredspamsponsoredspam.website/
    category: expérience visuelle

  - id: 6
    link: http://www.toiletpapermagazine.org/
    category: expérience visuelle

  - id: 7
    link: http://dinakelberman.tumblr.com/
    category: expérience visuelle

  - id: 8
    link: http://clickheretosavetheworld.com/ 
    category: expérience intéractive

  - id: 9
    link: http://rotato.party/
    category: expérience intéractive

  - id: 10
    link: https://rotopo.com/
    category: expérience intéractive

  - id: 11
    link: https://davidliebermann.de/
    category: expérience visuelle

  - id: 12
    link: https://scri.ch/
    category: expérience intéractive

  - id: 13
    link: http://endless.horse/
    category: expérience visuelle

  - id: 14
    link: http://david.li/waves/
    category: expérience intéractive

  - id: 15
    link: http://www.thebestpageintheuniverse.net
    category: catalogue

  - id: 16
    link: https://fr.akinator.com/
    category: expérience intéractive

  - id: 17
    link: http://southpark.cc.com/avatar
    category: expérience intéractive

  - id: 18
    link: https://elgoog.im/
    category: expérience intéractive

  - id: 19
    link: https://16colo.rs/
    category: catalogue 

  - id: 20
    link: https://brutalistwebsites.com/
    category: catalogue 

  - id: 21
    link: https://bob.farm/
    category: expérience intéractive
    
  - id: 22
    link: http://www.notneverno.com/
    category: expérience visuelle

  - id: 23
    link: http://www.abstractbrowsing.net/
    category: plug-in visuelle

  - id: 24
    link: http://www.staringcaring.com/
    category: expérience visuelle

  - id: 25
    link: http://www.shapesqueeze.com/
    category: expérience visuelle

  - id: 26
    link: http://www.manysome.com/
    category: expérience visuelle

  - id: 27
    link: http://www.startstopgo.com/
    category: expérience visuelle

  - id: 28
    link: http://www.manymoment.com/
    category: expérience visuelle

  - id: 29
    link: http://p-dpa.net/
    category: catalogue

  - id: 30
    link: http://hypergeography.tumblr.com/
    category: expérience visuelle
---

<div class="page-content-full">
  <div class="top-container left">
    {% for item in page.top-items %}
      <div class="top-item remove" id="top{{item.id}}">
        <img src="{{site.baseurl}}/assets/images/print-it_top30_image{{item.id}}.gif" alt="top 10 image">
        <div class="top-item-text">
          <span class="link">{{item.link}}</span><br/>
          <span class="top-item-category">{{item.category}}</span>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
