---
deluxe: "yes"
free: "yes"
grrrls: "yes"
title: Inscription
subtitle:
---

<div class="page-content-text">
  <img class="section-icon right" src="{{site.baseurl}}/assets/images/follow-icon.svg" alt="social-icon">
  <div class="table-text">
    <div class="table-title capital">Abonne toi !</div>
    <div class="table-text-content">
      Cours au click 
      <img class="inline-emoji" src=" {{site.baseurl}}/assets/images/mouse.svg" alt="mouse"> 
      follow, like and share Objet Papier
      sur les Internets 
      <img class="inline-emoji" src=" {{site.baseurl}}/assets/images/keur.gif" alt="Keur"> 
      et retrouves-y toutes les dernières actus !<br/>
      <img class="inline-emoji"  src="{{site.baseurl}}/assets/images/fb.gif" alt="Facebook"> : Objet Papier <br/>
      <img class="inline-emoji"  src="{{site.baseurl}}/assets/images/insta-logo.gif" alt="Instagram"> : objet_papier<br/>
      <img class="inline-emoji" src=" {{site.baseurl}}/assets/images/earth.svg" alt="Earth">  : objetpapier.fr<br/>
    </div>
    <div class="table-title capital">Pas cap ?</div>
    <div class="table-text-content">
      Toi qui fait parti de cette génération connectée, poste sur
      <span class="annotation-origin"></span>
      <span class="annotation-content annotation-top">
          {% include arrow-arc-down.html %}
          Prolonge l'expérience.
      </span>
      instagram une photo de ton numéro avec le hashtag #op007.
      Tu peux aussi l’envoyer sur la boite mail <br/>
      <span class="link">hello@objetpapier.fr</span>
      (ça nous fera chaud au coeur 
      <img class="inline-emoji" src=" {{site.baseurl}}/assets/images/keur.gif" alt="Keur">)
    </div>
  </div>
</div>
