---
deluxe: "yes"
free: "yes"
grrrls: "yes"
title: Horoscope
subtitle: par la professeure Zerep
---

<div class="page-content-text">
  {% include title.html %}
  {% include subtitle-s.html %}
  <img class="section-icon" src="{{site.baseurl}}/assets/images/horoscope-icon.svg" alt="art-icon">

  <div class="space-divider"></div>

  <div class="horoscope-title-block">
    <div class="kaomoji">( ・_・)ノ<、</div>
    <div class="title-3">Verseau</div>
    <div class="horoscope-date">21 janvier&thinsp;-&thinsp;19 février</div>
  </div>
  <p class="horoscope-text">
      Verseau, arrête de te cacher pour écouter des podcasts. C’est 2019, podcast 
      is the new cool et on attend que toi : les astres sont réunis pour que 
      tu te lances dans le game, tu as des trucs à raconter, à montrer, à chanter, 
      fais-le. On est tous impatients d’avoir ton avis sur le dernier fashion 
      faux pas de Kim et ton point de vue sur la vie sexuelle des ornithorynques.
  </p>
  


  <div class="horoscope-title-block">
    <div class="kaomoji">>( v ￣З￣)&emsp13;</div>
    <div class="title-3">Poisson</div>
    <div class="horoscope-date">20 février&thinsp;-&thinsp;20 mars</div>
  </div>
  <p class="horoscope-text">
      Petit poisson, en quête de retweet, de likes, tu cherches le bon mot, 
      le trait d’esprit, l’angle de vue parfait qui fera décoller ton compte 
      insta, propulsera ton compte twitter dans la stratosphère des influenceurs. 
      Et si au lieu de chercher la reconnaissance des autres tu te faisais 
      d’abord rire toi même&nbsp;?
  </p>

  <div class="horoscope-title-block">
    <div class="kaomoji">Ｕ´(ェ)ˋＵ&emsp13;</div>
    <div class="title-3">Bélier</div>
    <div class="horoscope-date">21 mars&thinsp;-&thinsp;19 avril</div>
  </div>
  <p class="horoscope-text">
      En lanceur d’alerte tu continues en 2019 à partager frénétiquement 
      ces vidéos qui dénoncent, tu pousses le militantisme jusqu’à la machine 
      à café, dénonçant l’usage des touillettes à usage unique.
      Ta cause est noble Bélier, mais n’oublie pas d’être indulgent envers 
      la nature humaine, même si Bernard est végétarien et porte des vestes 
      en cuir, l’être humain est un être de contradiction, tu l’es aussi. 
      Et arrête de conseiller des TED si tu veux conserver tes amis.
  </p>
  
  
  <div class="horoscope-title-block">
      <div class="kaomoji">╰-(ಠ_ಠ)-╯</div>
      <div class="title-3">Taureau</div>
      <div class="horoscope-date">20 avril&thinsp;-&thinsp;20 mai</div>
  </div>
  <p class="horoscope-text">
    Taureau, tu rêves de petit nid douillet, d’emprunt à taux zéro, <br/>
    de balade en vélo et de soirées Netflix tomate mozza. Laisse moi
    te dire Taureau que ce n’est pas en datant les profils Tinder
    les plus jeunes, en rêvant de la meuf de Roméo Elvis (ou de Roméo Elvis)
    la main dans le slip, que tu y arriveras.
    Assume ton consumérisme, ou bien émancipe toi de ces désirs préconstruits.
    Laisse toi surprendre.
  </p>
    
</div>

