---
deluxe: "yes"
free: "yes"
grrrls: "yes"
title: Horoscope
subtitle: par la professeure Zerep
---

<div class="page-content-text">
  <div class="horoscope-title-block">
    <div class="kaomoji">(°ｰ° )\/( °ｰ°)</div>
    <div class="title-3">Gémeaux</div>
    <div class="horoscope-date">21 mai&thinsp;-&thinsp;20 juin</div>
  </div>
  <p class="horoscope-text">
    «Un jour, un projet», voici le nom que pourrait avoir ta chaîne youtube, 
    si le projet du jour consistait à ouvrir une chaine youtube. Gémeaux, on 
    n’a pas construit Rome sur un coup de tête. Termine ce que tu commences 
    avant de te lancer dans de nouvelles choses, arrête de te vautrer dans 
    des posts de citations auto-satisfaisantes sur fond de collages nineties.
  </p>
  

  <div class="horoscope-title-block">
    <div class="kaomoji">ω꒦(* _ *)꒦ω</div>
    <div class="title-3">Cancer</div>
    <div class="horoscope-date">22 juin&thinsp;-&thinsp;22 juillet</div>
  </div>
  <p class="horoscope-text">
      Si youtube faisait des stats sur les nombres de vues par signe astro, 
      on saurait que 75% des vues sur les vidéos de chat effrayés par des 
      concombres proviendrait des cancers.
      Cesse de t’identifier à ces chatons, la vie n’est pas un gros concombre effrayant.
      Un trait de citron, une pincée de sel et une cuillère à soupe de yaourt 
      grec, croque ton concombre à pleines dents.
  </p>
  


  <div class="horoscope-title-block">
    <div class="kaomoji">(  (= ° ｪ ° =)  )</div>
    <div class="title-3">Lion</div>
    <div class="horoscope-date">23 juillet&thinsp;-&thinsp;22 août</div>
  </div>
  <p class="horoscope-text">
      Lion, cesse de faire passer ton absence des réseaux sociaux pour un geste 
      d’anticonformiste révolutionnaire, tout le monde sais que tu es 
      terrorisé par le jugement des autres. 
      Au lieu de prendre un plaisir coupable à lire «Votre profil Linkedin 
      est apparue dans 23 recherches», prend en main ton e-réputation, 
      mets moi à jour ce compte Linkedin abandonné dès sa création, félicite 
      2 ou 3 inconnus pour leur nouveaux postes, et vois tomber les 
      propositions d’embauches qui te permettront de sortir de ton train train.
  </p>


  <div class="horoscope-title-block">
      <div class="kaomoji">_(:3 」∠_&emsp13;</div>
      <div class="title-3">Vierge</div>
      <div class="horoscope-date">23 août&thinsp;-&thinsp;22 septembre</div>
    </div>
    <p class="horoscope-text">
      Tu es un petit poussin fragile tourmenté par la violence des internets, 
      cesse de regarder ces clashs de youtubeurs, intéresse toi plutôt au poisson 
      rouge, en effet, as-tu déjà vu un poisson rouge en liberté&nbsp;? D’où vient-il&nbsp;? 
      A t-il toujours été domestique&nbsp;? L’origine du poisson rouge est bien mystérieuse. 
      Voilà un sujet qui saura occuper ta curiosité tout en préservant ta sensibilité.
    </p>

    <div class="horoscope-title-block">
      <div class="kaomoji">┐( ´ д ` )┌&emsp13;</div>
      <div class="title-3">Balance</div>
      <div class="horoscope-date">23 septembre&thinsp;-&thinsp;22 octobre</div>
    </div>
    <p class="horoscope-text">
      Lorsque tu es né balance, l’internet était perçu comme un moyen de mettre
      à disposition de tous et en instantané des siècles de connaissance humaine.
      Depuis, les algorithmes de recommandations personnalisées ont enterré
      la connaissance et entretiennent la stupidité dans un flux circulaire fermé.
      Tu peux en sortir Balance, ne te laisse pas aller à la facilité des
      recommandations, sors de ce flux Youtube et deviens ta propre lanterne.
    </p>
</div>
