---
deluxe: "yes"
free: "yes"
grrrls: "yes"
title: Horoscope
subtitle: par la professeure Zerep
---

<div class="page-content-text">
  

  <div class="horoscope-title-block">
    <div class="kaomoji">/╲( •̀ ω •́ )╱\&emsp13;</div>
    <div class="title-3">Scorpion</div>
    <div class="horoscope-date">23 octobre&thinsp;-&thinsp;22 novembre</div>
  </div>
  <p class="horoscope-text">
    Hétéro monogame et cisgenre : libertaire, libre penseur, tu aimerais tellement 
    te reconnaître dans ces grands discours au service des libertés sexuelles 
    et individuelles, et participer à la grande marche de l’abolition des genres.
    Tu n’oseras jamais l’avouer mais le droit à la procréation médicale assistée te 
    colle des sueurs froides, et le fait que des personnes agitant des drapeaux multicolores 
    en criant «une maman, un lama», annonce que leur genre n’est pas lié à ce qu’ils ont 
    entre les jambes remet en question l'entièreté de ton être.
    Détends toi, c’est normal, on t’as appris depuis tout.e petit.e que ce phallus/cet 
    utérus était ton atout principal et ton déterminant social.
  </p>


  <div class="horoscope-title-block">
    <div class="kaomoji">彡( ︶︿︶)_ψ&emsp13;</div>
    <div class="title-3">Sagittaire</div>
    <div class="horoscope-date">23 novembre&thinsp;-&thinsp;21 décembre</div>
  </div>
  <p class="horoscope-text">
    Sur les réseaux comme dans la vie, tu dégaines des tweets plus vite que 
    ton ombre. Si dans la vie on oublie vite les conneries qui peuvent 
    sortir de ta bouche, Internet lui n’oublie jamais. 
    Qui sait peut être qu’un jour tu auras besoin qu’on t’oublie, alors 
    donne toi la chance de ne pas polluer les internets par de mauvaises 
    interventions dont tout le monde peut bien se passer.
  </p>
  



  <div class="horoscope-title-block">
    <div class="kaomoji">人(´ (ｪ) `)人&emsp13;</div>
    <div class="title-3">Capricorne</div>
    <div class="horoscope-date">22 décembre&thinsp;-&thinsp;20 janvier</div>
  </div>
  <p class="horoscope-text">
    Tu préfères vivre toute ta vie dans l’anonymat ou devenir un meme&nbsp;? Une seule 
    réponse possible pour toute personne sensée ici. Le problème capricorne c’est 
    que tout pousse à croire qu’il est bien possible que ton visage finisse sur un mug ou un t-shirt.
    À moins que tu ais répondu oui à la première question, méfie-toi des caméra, 
    des sondages dans la rue, de ces “amis” qui t’identifient dans leur story en soirée. 
  </p>
</div>

<img class="crystal-ball" src=" {{site.baseurl}}/assets/images/crystal-ball.gif " alt="crystal-ballgif">