---
deluxe: "yes"
free: "no"
grrrls: "yes"
title: Jeux
subtitle: À toi de jouer !
---

<div class="page-content-text">
  <div class="title-3">Rébus</div>
  Si une feuille bleue est équivaut à un 0 
  et qu'une feuille blanche à un 1, quel est 
  le code binaire de ton édition ?<br/><br/>
  …… …… …… …… …… …… …… …… …… …… …… …… …… …… …… ……<br/><br/>
  Trouve ton code binaire dans la 
  séquence complète de Print-it qui 
  se trouve sur le dos de couverture.

  <div class="title-3">Mots croisés</div>
  Un mot se cache derrière ces définitions. 
  Prouve-nous que tu as bien été attentif.ve
  en les trouvant et complète ces mots croisés.<br/><br/><br/>

  <img src=" {{ site.baseurl }}/assets/images/mot-croise.svg " alt="mots-croisés"><br/><br/><br/>

  <div class="columns-half">
    <div>
      Horizontal<br/>
      <span class="small-font">
        1 Style d'une page web<br />
        4 Plateforme d'hébergement et de gestion de code source<br />
        5 Générateur de site statique<br />
        7 Éditeur de texte
      </span>
    </div>
    <div>
      Vertical<br /> 
      <span class="small-font">
        <span class="annotation-origin"></span>
        <span class="annotation-content annotation-top annotation-jeux">
          {% include arrow-arc-down.html %}
          Besoin d'aide ?<br />
          Rendez-vous P.9-10
        </span>
        1 Navigateur web<br />
        2 Langage de programmation<br />
        3 Compagnon idéal du générateur de site statique<br />
        6 Squelette d'une page web<br />
      </span>
    </div>
  </div>
</div>
