---
deluxe: "no"
free: "no"
grrrls: "yes"
title: Jeux
subtitle: À toi de jouer !
---

<div class="page-content-text">
  {% include title.html %}
  {% include subtitle-s.html %}
  <img class="section-icon" src="{{site.baseurl}}/assets/images/jeux-icon.svg" alt="jeux-icon">

  <div class="space"></div>

  <div class="title-3">Jeu de la différence</div>
  Sauras-tu trouver la différence entre ces deux images ? Ouvre grands les yeux !<br/><br/>
  
  <img class="dif-image" src="{{site.baseurl}}/assets/images/grrrls-jeu-1.gif" alt="difference">
  <span class="small-font">girls-on-the-beach.gif</span><br/>
  <img class="dif-image mgt-s" src="{{site.baseurl}}/assets/images/grrrls-jeu-2.gif" alt="difference">
  <span class="small-font">girls-on-the-beach-censored.gif</span>
</div>
