---
deluxe: "yes"
free: "yes"
grrrls: "no"
title: Jeux
subtitle: À toi de jouer !
---

<div class="page-content-text">
  {% include title.html %}
  {% include subtitle-s.html %}
  <img class="section-icon" src="{{site.baseurl}}/assets/images/jeux-icon.svg" alt="jeux-icon">

  <div class="space"></div>

  <div class="title-3">À ton crayon ! <span class="zapf">✎</span> </div>
  Relie les points dans l'ordre des chiffres et des lettres, et découvre qui se cache derrière. <br/><br/><br/>
  <span class="annotation-origin"></span>
  <span class="annotation-content annotation-bottom">
    {% include arrow-arc-down.html %}
    C’est notre idole !
  </span>
  <img src="{{site.baseurl}}/assets/images/clippy.svg" alt="relier les points">
</div>
