---
deluxe: "no"
free: "no"
grrrls: "yes"
title: Ours
subtitle:
---

<div class="page-content-text ours">
  <h3 class="title-3">
    OP007 - Print-it
    <br/>Deluxe Grrrls version
  </h3>
  Version conçue à l’occasion du salon Grrrls Tech Zine Fair à la Gaîté Lyrique.<br/>
  Produit à 42 exemplaires<br/>
  Exemplaire numéro <span class="number-to-append"></span><br/>
  Généré par Google Chrome<br/>

  Imprimé par Jérémy Roques (couverture), <br />
  Jérémy Zetouini (packaging)<br />
  et <span class="name-to-append"></span> (pages intérieures)
  <span class="annotation-origin"></span>
  <span class="annotation-content annotation-bottom">
    {% include arrow-arc-down.html %}
    Hey !<br /> Regarde par ici ;)
  </span><br />
  Relié par <span class="name-to-append"></span> <br />

  Le <span class="date-to-append"></span><br/><br/>

  <h3 class="title-3">Conception éditoriale</h3>
  Morgane Bartoli, Ronan Deshaies, Corentin Moussard <br/>
  avec la participation de Sixtyne Perez (Horoscope p.27-29)
  et Guillaume Rossi (Arts p.14-16).<br/><br/>

  
  <h3 class="title-3">Conception graphique</h3>
  Corentin Moussard et Morgane Bartoli.<br/><br/>

  
  <h3 class="title-3">Typographie</h3>
  Snap-it conçu par Corentin Moussard<br/>
  et Morgane Bartoli<br/>
  Avara conçu par Raphaël Bastide <br/><br/>


  <h3 class="title-3">Stack technique</h3>
  Mise en page en CSS print, réalisé avec Atom, <br/>
  Jekyll, GitHub, Siteleaf. Code disponible sur : <br/>
  <span class="link">https://gitlab.com/Alune/print-it</span> <br/><br/>



  <h3 class="title-3">Papiers </h3>
  Couverture : Chromolux alu silver 80g/m²<br/>
  Papier blanc : Clairefontaine Equality 80g/m²<br/>
  Papier bleu : Clairefontaine Trophee 80g/m²<br/><br/>

  
  <h3 class="title-3">Remerciements</h3>
  Ronan Deshaies, Juliette Bernachot, Sixtyne Perez, <br/>
  Guillaume Rossi, Manon Gavalda, Raphaël Bastide,<br/>
  Taxi Nuage, PrePostPrint.<br/>
  Spéciale dédicace à Virginie Lyobard & la Fanzinothèque de Poitiers.<br/>


</div>
