<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
  <path class="arrow-stroke" d="M98.5 6.5c-42 0-80 32-83 80"/>
  <polygon class="arrow-head" points="1.9 81.2 29.9 82.8 15.1 96 "/>
</svg>