<div class="not-chrome-warning">
  <div class="screen-content-wrapper warning-wrapper">
    <div class="card warning">
        <div class="card-content">
            Oops ! Tu n'utilises pas le navigateur Chrome sur un ordinateur.
            Il est essentiel pour utiliser le CSS print, la technologie derrière Print-it.
        </div>
    </div>
  </div>
</div>

<div class="touch-warning">
  <div class="screen-content-wrapper warning-wrapper">
    <div class="card warning">
        <div class="card-content">
            Oops ! Tu utilises un navigateur mobile, pour imprimer Print-it,
            reviens depuis un navigateur Chrome sur ordinateur.
        </div>
    </div>
  </div>
</div>