<div class="page cover">
  <div class="left-side cover-left">
      <img src="{{site.baseurl}}/assets/images/back-cover-grrrls-only.svg" alt="Print-it 3D type">
  </div>
  <div class="right-side cover-right">
      <img src="{{site.baseurl}}/assets/images/cover-grrrls-only.svg" alt="Print-it 3D type">
  </div>
</div>