<div class="page cover">
  <div class="left-side cover-left">
      <img src="{{site.baseurl}}/assets/images/back-cover-typo.svg" alt="Print-it 3D type">
  </div>
  <div class="right-side cover-right">
      <img src="{{site.baseurl}}/assets/images/cover-typo.svg" alt="Print-it 3D type">
  </div>
</div>

<div class="page manual">
  <img src="{{site.baseurl}}/assets/images/manual.svg" alt="Print-it manual">
</div>