<div class="logo-print-it">
    <img class="logo-font" src=" {{ site.baseurl }}/assets/images/logo-3d.svg " alt="Logo Print-it">
    <div class="bulle-logo-title">
      {% include bulle.html %}
      <p>Let's discover the Internet&nbsp;!</p>
    </div>
</div>