{% assign deluxe-version = site.print-page | where: "deluxe","yes" %}

{% assign rows = deluxe-version.size | divided_by: 2.0 | ceil %}
{% for i in (1..rows) %}

  {% assign offset = forloop.index0 | times: 2 %}

  <div class="page">

    {% for single-page in deluxe-version limit:2 offset:offset %}

      {% capture pageCycle %}{% cycle 'odd', 'even' %}{% endcapture %}

      {% assign pageNumber = forloop.index | plus: offset %}
      {% if pageNumber == 3 %}
      <div class="left-side double-width">

          <div class="print-page-content-wrapper">
            {{ single-page.content }}
          </div>

          <div class="page-footer">
            <div class="running-title">
              {{ site.title }}
              <span class="wingding-3"></span> <!-- arrow to right 3D -->
              {{ site.subtitle }}
              <span class="wingding-3"></span> <!-- arrow to right 3D -->
              {{ single-page.title }}
            </div>
            <div class="page-number">
              
              {% assign pageNumberSize = forloop.index | plus: offset | downcase | size %}
              {% if pageNumberSize == 2 %}
                {{ pageNumber }}
              {% else %}
                0{{ pageNumber }}
              {% endif %}
            </div>
            <div class="fake-fold"></div>
            <div class="fold-icon">
              <img src="{{ site.baseurl }}/assets/images/fold-icon2.svg">
            </div>
          </div>

      </div>
      <!-- If index is odd we use the left page template -->
      {% elsif pageCycle == 'odd' %}
        <div class="left-side">

          <div class="print-page-content-wrapper">
            {{ single-page.content }}
          </div>

          <div class="page-footer">
            <div class="running-title">
              {{ site.title }}
              <span class="wingding-3"></span> <!-- arrow to right 3D -->
              {{ site.subtitle }}
              <span class="wingding-3"></span> <!-- arrow to right 3D -->
              {{ single-page.title }}
            </div>
            <div class="page-number">
              
              {% assign pageNumberSize = forloop.index | plus: offset | downcase | size %}
              {% if pageNumberSize == 2 %}
                {{ pageNumber }}
              {% else %}
                0{{ pageNumber }}
              {% endif %}
            </div>
            <div class="fold-icon">
              <img src="{{ site.baseurl }}/assets/images/fold-icon2.svg">
            </div>
          </div>

        </div>

      <!-- Any other case (when odd) we use the right page template -->
      

      {% else %}
        <div class="right-side">

          <div class="print-page-content-wrapper">
            {{ single-page.content }}
          </div>

          <div class="page-footer">
            <div class="page-number">
              {% assign pageNumber = forloop.index | plus: offset %}
              {% assign pageNumberSize = forloop.index | plus: offset | downcase | size %}
              {% if pageNumberSize == 2 %}
                {{ pageNumber }}
              {% else %}
                0{{ pageNumber }}
              {% endif %}
            </div>
          </div>

        </div>
      {% endif %}

    {% endfor %}

  </div>

{% endfor %}
