<div class="print-is-dead-cut">
  <img class="print-is-dead-trashcan" src="{{site.baseurl}}/assets/images/trashcan.gif" alt="cut-trashcan">
  <img class="print-is-dead-trashcan" src="{{site.baseurl}}/assets/images/trashcan.gif" alt="cut-trashcan">
  <img class="print-is-dead-trashcan" src="{{site.baseurl}}/assets/images/trashcan.gif" alt="cut-trashcan">
  <img class="print-is-dead-trashcan" src="{{site.baseurl}}/assets/images/trashcan.gif" alt="cut-trashcan">
  <img class="print-is-dead-trashcan" src="{{site.baseurl}}/assets/images/trashcan.gif" alt="cut-trashcan">
  <img class="print-is-dead-trashcan" src="{{site.baseurl}}/assets/images/trashcan.gif" alt="cut-trashcan">
  <img class="print-is-dead-trashcan" src="{{site.baseurl}}/assets/images/trashcan.gif" alt="cut-trashcan">
  <img class="print-is-dead-trashcan" src="{{site.baseurl}}/assets/images/trashcan.gif" alt="cut-trashcan">
  <img class="print-is-dead-trashcan" src="{{site.baseurl}}/assets/images/trashcan.gif" alt="cut-trashcan">

  
  <img class="cisors-icon" src="{{site.baseurl}}/assets/images/cisors.svg" alt="Cisors">
</div>