{% include cover-grrrls-only.html %}

{% assign rows = site.grrrls-content.size | ceil %}
{% assign pages = rows | plus: 1 %}
{% for i in (1..pages) %}

{% assign sheet-loop = forloop.index %}
{% assign sheet-minus = sheet-loop | minus: 1 %}

<div class="page nb{{sheet-loop}} {{sheet-minus}}">
  {% if forloop.index == 1 %}
    <div class="left-side">
      <div class="print-page-content-wrapper">
        <div class="page-content-text">
          <div class="title-1">
            <div class="title-1-item">Computer</div>
            <div class="title-1-item">Grrrls</div>
            <div class="title-1-item">Computer</div>
            <div class="title-1-item">Grrrls</div>
            <div class="title-1-item">Computer</div>
            <div class="title-1-item">Grrrls</div>
          </div>
          <div class="title-2 medium">
            {% include bulle.html %}
            <div class="title-2-text">
              Livret d'exposition
            </div>
          </div>

          <div class="edito-grrrls-only">
            <br/><br/><br/><br/>
              Cette toute nouvelle version de Print-it revisitée spécialement 
              pour la Grrrls Tech Zine Fair s’inspire de l’exposition Computer Grrrls à la Gaité Lyrique 
              en mettant à l’honneur les femmes qui ont fait l’informatique d’hier et d’aujourd’hui.<br/><br/>

              Dans ce livret d'exposition tu trouveras des informations sur les artistes 
              exposants à la Gaité Lyrique ainsi que sur les œuvres présentées.<br/><br/>

              En participant à la réalisation de votre propre magazine, vous venez de faire 
              votre premier pas dans le monde du, nous vous proposons maintenant 
              d’embarquer pour un étonnant voyage au sein du vaste monde des ordinatrices !
          </div>

        </div>
      </div>

      <div class="page-footer">
        <div class="running-title">
          Print-it 
          <span class="wingding-3"></span> <!-- arrow to right 3D -->
          Computer Grrrls
          <span class="wingding-3"></span> <!-- arrow to right 3D -->
          Livret d'exposition
        </div>
        <div class="page-number">
          01
        </div>
        <div class="fold-icon">
          <img src="{{ site.baseurl }}/assets/images/fold-icon2.svg">
        </div>
      </div>


    </div>
    <div class="right-side">
      <div class="print-page-content-wrapper">
        {% for grrrls-item in site.grrrls-content %}
          {% if forloop.index == 1 %}
            <div class="page-content-text grrrls-img">
              <img class="grrrls-image" src="{{site.baseurl}}{{grrrls-item.image}}" alt="Computer Grrrls - artwork image">
            </div>
          {% endif %}
        {% endfor %}
      </div>

      <div class="page-footer">
        <div class="page-number">
          02
        </div>
      </div>

    </div>



  {% elsif forloop.index == 24 %}
    <div class="left-side">
      <div class="print-page-content-wrapper">
        {% for grrrls-item in site.grrrls-content %}
          {% if forloop.index == 23 %}
            <div class="page-content-text">
              <div class="grrrls-text-content">
                <h3 class="title-3">{{grrrls-item.artist}}</h3>
                {{grrrls-item.bio}}
                {% if grrrls-item.website %}
                <br />
                <span class="link">{{ grrrls-item.website }}</span>
                {% endif %}
                <br /><br />
                {% for artwork in grrrls-item.artwork %}
                <span class="ital">{{artwork.title}}</span><span class="small-font"> - {{artwork.format}}</span>
                {% if artwork.meta %}
                <br />
                <span class="small-font">{{artwork.meta}}</span>
                {% endif %}
                {% if artwork.desc %}
                <br />
                {{artwork.desc | markdownify}}
                {% endif %}
                <br />
                {% endfor %}
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <div class="page-footer">
          <div class="running-title">
            Print-it
            <span class="wingding-3"></span> <!-- arrow to right 3D -->
            Computer Grrrls
            <span class="wingding-3"></span> <!-- arrow to right 3D -->
            Livret d'exposition
          </div>
          <div class="page-number">
              {% assign pageNumber = sheet-loop | times: 2 | minus: 1 | downcase %}
              {% assign pageNumberSize = pageNumber | size %}
              {% if pageNumberSize == 2 %}
                {{ pageNumber }}
              {% else %}
                0{{ pageNumber }}
              {% endif %}
          </div>
          <div class="fold-icon">
            <img src="{{ site.baseurl }}/assets/images/fold-icon2.svg">
          </div>
        </div>
    </div>

    <div class="right-side">
      <div class="print-page-content-wrapper">
        <div class="page-content-text ours">
            <h3 class="title-3">
                Print-it x Computer Grrrls
                <br/>Livret d'exposition
              </h3>
              Version conçue à l’occasion du salon Grrrls Tech Zine Fair, le Samedi 20 avril 2019, 
              dans le cadre de l’exposition Computer Grrrls à la Gaîté Lyrique.<br/>
              Généré et imprimé via par Google Chrome<br/>
              Le <span class="date-to-append"></span><br/><br/>
            
              <h3 class="title-3">Conception éditoriale</h3>
              Morgane Bartoli, Ronan Deshaies et Corentin Moussard.<br/>
              Contenu basé sur le livret officiel de l'exposition 
              Computer&nbsp;Grrrls avec la participation de Marie&nbsp;Leschner.<br/><br/>
            
              
              <h3 class="title-3">Conception graphique</h3>
              Corentin Moussard et Morgane Bartoli.<br/><br/>
            
              
              <h3 class="title-3">Typographie</h3>
              Snap-it conçue par Corentin Moussard<br/>
              et Morgane Bartoli<br/>
              Avara et Terminal Grotesque <br/>
              conçues par Raphaël Bastide <br/><br/>
            
            
              <h3 class="title-3">Stack technique</h3>
              Mise en page en CSS print, réalisé avec Atom, <br/>
              Jekyll, GitHub, Siteleaf. Code disponible sur : <br/>
              <span class="link">https://gitlab.com/Alune/print-it</span> <br/><br/>
            
              
              <h3 class="title-3">Remerciements</h3>
              Ronan Deshaies, Juliette Bernachot, Sixtyne Perez, <br/>
              Guillaume Rossi, Manon Gavalda, Raphaël Bastide,<br/>
              Taxi Nuage, PrePostPrint.<br/>
              Spéciale dédicace à Virginie Lyobard & la Fanzinothèque de Poitiers.<br/>
        </div>
      </div>
      <div class="page-footer">
        <div class="page-number">
          48
        </div>
      </div>
    </div>




  {% else %}
    <div class="left-side">
      <div class="print-page-content-wrapper">
        {% for grrrls-item in site.grrrls-content %}
          {% if forloop.index == sheet-minus  %}
          <div class="page-content-text">
            <div class="grrrls-text-content">
              <h3 class="title-3">{{grrrls-item.artist}}</h3>
              {{grrrls-item.bio}}
              {% if grrrls-item.website %}
              <br />
              <span class="link">{{ grrrls-item.website }}</span>
              {% endif %}
              <br /><br />
              {% for artwork in grrrls-item.artwork %}
              <span class="ital">{{artwork.title}}</span><span class="small-font"> - {{artwork.format}}</span>
              {% if artwork.meta %}
              <br />
              <span class="small-font">{{artwork.meta}}</span>
              {% endif %}
              {% if artwork.desc %}
              <br />
              {{artwork.desc | markdownify}}
              {% endif %}
              <br />
              {% endfor %}
            </div>
          </div>
          {% endif %}
        {% endfor %}
      </div>

      <div class="page-footer">
        <div class="running-title">
          Print-it
          <span class="wingding-3"></span> <!-- arrow to right 3D -->
          Computer Grrrls
          <span class="wingding-3"></span> <!-- arrow to right 3D -->
          Livret d'exposition
        </div>
        <div class="page-number">
            {% assign pageNumber = sheet-loop | times: 2 | minus: 1 | downcase %}
            {% assign pageNumberSize = pageNumber | size %}
            {% if pageNumberSize == 2 %}
              {{ pageNumber }}
            {% else %}
              0{{ pageNumber }}
            {% endif %}
        </div>
        <div class="fold-icon">
          <img src="{{ site.baseurl }}/assets/images/fold-icon2.svg">
        </div>
      </div>


    </div>

    <div class="right-side">
        <div class="print-page-content-wrapper">
          {% for grrrls-item in site.grrrls-content %}
            {% if forloop.index == sheet-loop  %}
              <div class="page-content-text grrrls-img">
                <img class="grrrls-image" src="{{site.baseurl}}{{grrrls-item.image}}" alt="Computer Grrrls - artwork image">
              </div>
            {% endif %}
          {% endfor %}
        </div>

        <div class="page-footer">
          <div class="page-number">
              {% assign pageNumberRight = sheet-loop | times: 2 | downcase %}
              {% assign pageNumberSizeRight = pageNumberRight | size %}
              {% if pageNumberSizeRight == 2 %}
                {{ pageNumberRight }}
              {% else %}
                0{{ pageNumberRight }}
              {% endif %}
          </div>
        </div>

    </div>
  {% endif %}
</div>
  

{% endfor %}
