<div class="screen-content-wrapper">
  
  <div class="print-it-hero">
    {% if page.page-id == "grrrls" %}
    <div class="logo-container side">
        {% include logo-print-it-grrrls.html %}
    </div>
    {% elsif page.page-id == "en" %}
    <div class="logo-container side">
        {% include logo-print-it-en.html %}
    </div>
    {% else %}
    <div class="logo-container side">
        {% include logo-print-it.html %}
    </div>
    {% endif %}
  </div>
  
  {% if page.page-id == "en" %}
  <a href="{{site.baseurl}}/a-la-decouverte-d-internet/" class="back-button">Back</a>
  {% else %}
  <a href="{{site.baseurl}}/a-la-decouverte-d-internet/" class="back-button">Retour</a>
  {% endif %}

  {% if page.page-id == "grrrls" %}
    <a href="{{site.baseurl}}/a-la-decouverte-d-internet/grrrls-exposition/" class="exposition-button">Livret d'exposition Computer Grrrls</a>
  {% endif %}

  <div class="print-it-form-container">

    <div class="form-section">
      {% if page.page-id == "free" %}
        <div class="section-title">
          OP007 <span class="wingding-3"></span> Free version
        </div>
        <div class="section-content">
            Bienvenue sur le site de Print-it, 
            le magazine à imprimer soi-même.
            Met 18 feuilles dans ton imprimante,
            écris ton prénom et ton nom ci-dessous, 
            puis lance l'impression. <br/><br/>
            Dans "plus de paramètres" pense à : <br/>
            - choisir le format A4<br/>
            - laisser les marges par défaut<br/>
            - cocher graphiques d'arrière-plan<br/>

        </div>
      
      
      
        {% elsif page.page-id == "deluxe" %}
        <div class="section-title">
          OP007 <span class="wingding-3"></span> Deluxe version
        </div>
        <div class="section-content">
            Félicitations tu as franchi la 
            première étape. You did it ! 
            Pour continuer l՚aventure,
            remplis les cases ci-dessous et 
            continue à te fier à la notice.
        </div>


        {% elsif page.page-id == "en" %}
        <div class="section-title">
          OP007 <span class="wingding-3"></span> Deluxe english version
        </div>
        <div class="section-content">
            Congratulations you completed 
            the first step, You did it ! 
            To continue your adventure,
            fill the form below and continue 
            to follow the manual.
        </div>
      
      
      
        {% elsif page.page-id == "grrrls" %}
        <div class="section-title">
          OP007 <span class="wingding-3"></span> Deluxe Grrrls version
        </div>
        <div class="section-content">
            Félicitations tu as franchi la 
            première étape. You did it ! 
            Pour continuer l՚aventure,
            remplis les cases ci-dessous et 
            continue à te fier à la notice.<br/><br/>

            La version Grrrls Deluxe propose
            du contenu exclusif à l'occasion de 
            l'exposition Computer Grrrls à la 
            Gaité Lyrique.
        </div>
      {% endif %}
    </div>


    <div class="complete-form-container">
      
      <div class="form-section">
      
        <div class="landing-input-container">
          <label for="printer-firstname-input">
            {% if page.page-id == "en" %}
              Your first name
            {% else %}
              Ton prénom
            {% endif %} 
            <span class="wingding-3 rotate align-right"></span>
          </label>
      
          <input name="printer-firstname-input" id="printer-firstname-input" class="printer-firstname-input" type="text">
        </div>
      
        <div class="landing-input-container">
          <label for="printer-name-input">
            {% if page.page-id == "en" %}
              Your last name
            {% else %}
              Ton nom
            {% endif %} 
            <span class="wingding-3 rotate align-right"></span>
          </label>
          
          <input name="printer-name-input" id="printer-name-input" class="printer-name-input" type="text">
        </div>

        {% if page.page-id == "free" %}
          <input name="printNbOne" id="print-number-input-one" class="hidden" type="text"
                 onKeyup="autotab(this, document.querySelector('#print-number-input-two'))" value="02." >
          <input name="printNbTwo" id="print-number-input-two" class="hidden" type="text"
                onKeyup="autotab(this, document.querySelector('#print-number-input-three'))" value="00.">
          <input name="printNbThree" id="print-number-input-three" class="hidden" type="text" value="00"/>
          
        {% else %}
          <div class="landing-input-container">
            <label for="printNbOne">
              {% if page.page-id == "en" %}
                Number of your print
              {% else %}
                Numéro de ton édition 
              {% endif %} 
              <span class="wingding-3 rotate align-right"></span>
            </label>
            OP007&nbsp;
            <input name="printNbOne" id="print-number-input-one" class="print-number-input" type="text"
                   onKeyup="autotab(this, document.querySelector('#print-number-input-two'))" maxlength=2>
            -
            <input name="printNbTwo" id="print-number-input-two" class="print-number-input" type="text"
                   onKeyup="autotab(this, document.querySelector('#print-number-input-three'))" maxlength=2>
            -
            <input name="printNbThree" id="print-number-input-three" class="print-number-input" type="text" maxlength=2> 
            / 42
          </div>
        {% endif %}
    
      
      </div>
      
      
      <div class="form-section button-section">
        <div class="section-content center-column">
          <span class="section-text-line uppercase">
            {% if page.page-id == "en" %}
              Let's go !
            {% else %}
              C՚est parti ! 
            {% endif %} 
            <span class="wingding-3 align-right">
              <img src=" {{ site.baseurl }}/assets/images/printer-icon.svg " alt="printer">
            </span>
          </span>
          <button id="print-button" class="print-button">
            {% if page.page-id == "en" %}
              Print
            {% else %}
              Imprimer
            {% endif %}
          </button>
        </div>
      </div>

    </div>

  </div>

</div>

<div class="hidden-content">
    <span class="wingding-3"></span> <!-- arrow to right 3D -->
    <span class="avara">Avara</span>
    <span class="zapf">✎</span>
</div>

