

{% include browser-warnings.html %}

<div class="screen-content screen-content-wrapper landing-wrapper">
  <div class="logo-container">
    {% include logo-print-it-grrrls.html %}
  </div>

  <a href="{{site.baseurl}}/grrrls/" class="back-button">Retour</a>

  <div class="home-card-container">
    <div class="card home-card large">
      <div class="card-title">
        Computer Grrrls - Exclusif !
      </div>
      <div class="card-content">
        Ici tu peux imprimer l'intégralité du contenu sur l'exposition Computer Grrrls.
      </div>
      <div class="card-content button-wrapper">
        <button id="print-button-grrrls-only" class="print-button-grrrls">
          Imprimer
        </button>
      </div>
    </div>
    
  </div>
</div>

<div class="hidden-content">
    <span class="wingding-3"></span> <!-- arrow to right 3D -->
    <span class="avara">Avara</span>
    <span class="zapf">✎</span>
</div>