<div class="title-1">
  <div class="title-1-item">{{ page.title }}</div>
  <div class="title-1-item">{{ page.title }}</div>
  <div class="title-1-item">{{ page.title }}</div>
  <div class="title-1-item">{{ page.title }}</div>
  <div class="title-1-item">{{ page.title }}</div>
</div>
