<div class="title-full-page">
  <div class="title-fp-item">{{ page.title }}</div>
  <div class="title-fp-item">{{ page.title }}</div>
  <div class="title-fp-item">{{ page.title }}</div>
  <div class="title-fp-item">{{ page.title }}</div>
  <div class="title-fp-item">{{ page.title }}</div>
  <div class="title-fp-item">{{ page.title }}</div>
  <div class="title-fp-item">{{ page.title }}</div>
  <div class="title-fp-item">{{ page.title }}</div>
  <div class="title-fp-item">{{ page.title }}</div>
  <div class="title-fp-item">{{ page.title }}</div>
</div>
<div class="subtitle-full-page">
  <div class="subtitle-fp-item large title-top">
    {% include bulle-l.html %}
    <span class="title-2-text">{{ page.subtitle }}</span>
  </div>
  <div class="subtitle-fp-item large title-bottom">
    {% include bulle-l.html %}
    <span class="title-2-text">{{ page.subtitle }}</span>
  </div>

</div>