* {
  box-sizing: border-box;

  &::selection {
    color: white;
    background: black; /* WebKit/Blink Browsers */
  }
  &::-moz-selection {
    color: white;
    background: black; /* Gecko Browsers */
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: $base-font;
}

a, a:visited {
  color: black;
}

.home-page {
  width: 100%;
  min-height: 100vh;

  h1 {
    font-size: 60px;
  }

  a, a:visited {
    font-size: 22px;
    text-decoration: none;
    display: inline-block;
    padding: 0 2px;

    &:hover {
      background-color: black;
      color: white;
    }
  }
}

.screen-content {
  font-size: $screen-font-size;
  // line-height: $screen-line-height;
  // letter-spacing: $screen-letter-spacing;
}

.print-content {
  font-size: $print-font-size;
  // line-height: $print-line-height;
}

h1,h2,h3,h4,h5,h6,p {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.spacing {
  height: 1cm;
}

.wingding-1 {
  font-family: 'Wingdings-1';
}

.wingding-2 {
  font-family: 'Wingdings-2';
}

.wingding-3 {
  font-family: 'Wingdings-3';
}

.zapf {
  font-family: 'Zapf Dingbats';
}

.rotate {
  display: inline-block;
  transform: rotate(90deg);
}

.avara {
  font-family: $serif-font;
}

.not-chrome-warning, .touch-warning {
  display: none;

  &.visible {
    display: block;
  }
}
