@font-face {
    font-family: 'Avara';
    src: url('fonts/Avara-Bold.woff2') format('woff2'),
        url('fonts/Avara-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'snap-it-mono-2';
  src: url('fonts/Snap-itmono-1.7-Regular.ttf') format('truetype'),
       url('fonts/Snap-itmono-1.7-Regular.woff2') format('woff2'),
       url('fonts/Snap-itmono-1.7-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Wingdings-1';
  src: url('fonts/Wingdings.eot');
  src: url('fonts/Wingdings.woff2') format('woff2'),
       url('fonts/Wingdings.woff') format('woff'),
       url('fonts/Wingdings.ttf') format('truetype'),
       url('fonts/Wingdings.svg#Wingdings3') format('svg'),
       url('fonts/Wingdings.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Wingdings-2';
  src: url('fonts/Wingdings.eot');
  src: url('fonts/Wingdings.woff2') format('woff2'),
       url('fonts/Wingdings.woff') format('woff'),
       url('fonts/Wingdings.ttf') format('truetype'),
       url('fonts/Wingdings.svg#Wingdings3') format('svg'),
       url('fonts/Wingdings.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Wingdings-3';
  src: url('fonts/Wingdings3.eot');
  src: url('fonts/Wingdings3.woff2') format('woff2'),
       url('fonts/Wingdings3.woff') format('woff'),
       url('fonts/Wingdings3.ttf') format('truetype'),
       url('fonts/Wingdings3.svg#Wingdings3') format('svg'),
       url('fonts/Wingdings3.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Zapf Dingbats';
  src: url('fonts/ZapfDingbatsITC.woff2') format('woff2'),
      url('fonts/ZapfDingbatsITC.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
