$orange: #e67f12;
$grey: #636363;
$orange-trans: rgba(230, 128, 18, 0.50);

$red: #ff6565;
$orange: #ffa455;
$yellow: #fff36e;
$green: #4af772;
$blue: #52cbff;
$indigo: #6179ff;
$violet:  #a464fe;

$rainbow: rainbow_red 1.6s infinite linear;

@keyframes rainbow_red {
  0% {color: $red}
  15% {color: $orange}
  29% {color: $yellow}
  44% {color: $green}
  58% {color: $blue}
  73% {color: $indigo}
  87% {color: $violet}
  100% {color: $red}
}

@media screen {
  .surprise-screen {
    display: flex;
  }
  .surprise-print {
    display: none;
  }
}
@media print {
  .surprise-screen {
    display: none;
  }
  .surprise-print {
    display: block;
  }
}

.crippy-wrapper {
  font-size: 70px;
  color: white;

  .thinking-mouth {
    animation: mirror 1.2s step-end infinite;
    transform-origin: center center;
    display: inline-block;
  }

  &.is-thinking {
    // color: $orange;
    // opacity: 0.5;
  }
}

@keyframes mirror {
  from,
  to {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(-1);
  }
}

// .animated-letter {
//   animation: $rainbow, letter_translate 2s infinite linear;
// }

.surprise-animation {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@for $i from 1 through 200 {
  .animated-letter:nth-child(#{$i}n) {
    display: inline-block;
    animation: $rainbow, letter_translate 1s infinite ease-in-out;
    animation-delay: 0s, #{$i * -0.15}s;
  }
}

@keyframes letter_translate {
  0% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(-2px);
  }
}

.greeting {
  max-width: 600px;
  text-align: center;
  max-height: 300px;
  will-change: max-height;

  &.slide-out {
    // transform: translateY(200%);
    max-height: 0;
    opacity: 0;
    transition:  max-height 1s ease-in-out, opacity 1s ease-in-out;
  }
}

.start-button {
  padding: 1px;
  background: white;  
  cursor: pointer;
  margin-top: 40px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:hover {
    background: linear-gradient(90deg, $red, $orange, $yellow, $green, $blue, $indigo, $violet, $red, $orange);
    background-size: 1000% 100%;
    background-position-x: 0%;
    animation: bgrainbow 1.6s infinite linear;

    .button-content {
      animation: $rainbow;
    }
  }
}

@keyframes bgrainbow {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 100%;
  }
}

.button-content {
  padding: 10px 15px;
  background-color: black;
  color: white;
}


.thinking {
  display: inline-block;
  // color: $orange;
  // opacity: 0.5;
}

.surprise-wrapper {
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  background-color: black;
  color: white;
  font-size: 26px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  padding: 80px 0;

  input {
    border-color: white;
    color: white;
    background-color: black;
    font-size: 22px;
    // caret-shape: underscore;
    
  }

  // .fake-input-wrapper {
  //   cursor: text;
  //   padding: 0 $spacing-unit*2;
  // }

  .terminal-input {
    // position: relative;
    // overflow: hidden;
    min-height: 64px;
    border-top: solid 2px rgba(255, 255, 255, 0.1);
  }

  .fake-input {
    outline: none;
    display: none;
    pointer-events: none;
    // height: 100%;
    // overflow: scroll;
    // max-width: 100%;
    color: transparent;
    text-shadow: 0px 0px 0px #fff;
    padding: $spacing-unit*1.5 $spacing-unit*2 $spacing-unit*2 $spacing-unit*4;
    word-wrap: break-word;
    text-overflow: clip;
    

    br {
      display: none;
    }

    &:after {
      color: transparent;
      content: "";
      animation: blink 1.2s step-end infinite;
    }
    
    &.active {
      display: block;
      pointer-events: all;
      transform: translateY(0px);

      &:before {
        position: absolute;
        left: $spacing-unit*2;
        bottom: $spacing-unit*2;
        display: inline-block;
        flex-shrink: 0;
        color: $grey;
        content: "> ";
      }
    }

    &.focused {
      outline: none;
      // border-top: solid 2px $orange-trans;

      &:before {
        color: $red;
      }

      &:after {
        color: white;
        content: "_";
      }
    }
  }
}

@keyframes blink {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.question-item:not(:last-child) {
  margin-bottom: $spacing-unit*3;
}

.surprise-terminal-wrapper {
  max-width: 0px;
  max-height: 0;
  height: 100%;
  width: 90%;
  border: solid 2px white;
  overflow: hidden;
  position: relative;
  overflow: hidden;
  opacity: 0;
  will-change: max-width, max-height;

  &.displayed {
    opacity: 1;
    max-width: 800px;
    max-height: 70vh; 

    &.animated {
      transition: max-width 1s 0s cubic-bezier(0,0.5,0.2,1), max-height 1s 1s cubic-bezier(0.2,0,0,1);
    }
    
  }
}

.terminal-entry {
  display: flex;
  margin-top: 5px;
}

.terminal-entry-name-section {
  color: $grey;
  // animation: $rainbow;
  flex-wrap: nowrap;
  flex-shrink: 0;
  // opacity: 0.5;

  &:after {
    display: inline-block;
    // color: $orange;
    content: "~";
    margin-right: 10px;
  }
}




.terminal-content {
  padding: $spacing-unit*2;
  overflow-y: auto;
}

.hint {
  color: $grey;
}

.line-through {
  text-decoration: line-through;
  color: $grey;
}

.terminal-entry-text {
  display: inline-block;

  &.list-wrapper {
    display: inline-flex;
    flex-wrap: wrap;
    flex: 1;
  }
}



//colors
.red .terminal-entry-name-section:after,
.red .thinking,
.red.is-thinking,
.fake-input.red.focused:before {
  color: #fe8080;
  animation: $rainbow;
}
.orange .terminal-entry-name-section:after,
.orange .thinking,
.orange.is-thinking,
.fake-input.orange.focused:before {
  color: #fe8080;
  animation: $rainbow;
}
.yellow .terminal-entry-name-section:after,
.yellow .thinking,
.yellow.is-thinking,
.fake-input.yellow.focused:before {
  color: #fe8080;
  animation: $rainbow;
}
.green .terminal-entry-name-section:after,
.green .thinking,
.green.is-thinking,
.fake-input.green.focused:before {
  color: #fe8080;
  animation: $rainbow;
}
.blue .terminal-entry-name-section:after,
.blue .thinking,
.blue.is-thinking,
.fake-input.blue.focused:before {
  color: #fe8080;
  animation: $rainbow;
}
.indigo .terminal-entry-name-section:after,
.indigo .thinking,
.indigo.is-thinking,
.fake-input.indigo.focused:before {
  color: #fe8080;
  animation: $rainbow;
}
.violet .terminal-entry-name-section:after,
.violet .thinking,
.violet.is-thinking,
.fake-input.violet.focused:before {
  color: #fe8080;
  animation: $rainbow;
}

.paper-color-instruction {
  &.orange {
   color: $orange; 
  }
  &.yellow {
    color: $yellow; 
  }
  &.green {
    color: $green; 
  }
  &.blue {
    color: $blue; 
  }
  &.violet {
    color: $violet; 
   }
}



// PRINT

// @page {
//   size: landscape;
//   size: 29.7cm 21cm;
//   margin: 0;
// }

$small-margin: 0.5cm;
$medium-margin: 0.8cm;
$large-margin: 5.3cm;

.surprise-page {
  position: relative;
  width: 29.7cm;
  height: 20.9cm;
  page-break-inside: avoid;
  page-break-after: always;
  padding: 0cm;

  &:last-child {
    page-break-after: avoid;
  }
}

.recto {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.verso {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.surprise-page-left, 
.surprise-page-right {
  width: 50%;
  height: 20.9cm;
  font-size: 0.35cm;
  position: relative;
}

.cutouts {
  position: absolute;
  width: 1cm;
  height: 20.9cm;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // filter: invert(1);

  &:after, &:before {
    display: block;
    position: absolute;
    content: "";
    width: 0.5cm;
    height: 0.5cm;
    border-radius: 0.5cm;
    border: dashed 1px black;
  }

  &:after {
    top: 6.35cm;
  } 
  &:before {
    bottom: 6.35cm;
  }
}

.cutouts.left {
  left: 0;

  &:after, &:before {
    left: 0.8cm;
  }
}

.cutouts.right {
  right: 0;

  &:after, &:before {
    right: 0.8cm;
  }
}

.surprise-page-left {
  position: relative;
  border-right: dashed 1px black;
  padding: $medium-margin;
  display: flex;
  justify-content: flex-end;
}

.surprise-page-right {
  padding: $medium-margin $large-margin $small-margin $medium-margin;

  
}

.space {
  display: block;
  height: 0.2cm;
  width: 100%;
}

.print-image-wrapper {
  max-width: 20cm;

  img {
    display: block;
    max-width: 20cm;
  }

  &.vertical {
    max-width: none;
    max-height: 19cm;

    img {
      display: block;
      max-width: none;
      max-height: 19cm;
    }
  }
  // height: auto;
}

.image-original {
  display: block;
  max-height: 5cm;
  width: auto;
}


.crippy-name-print,
.user-name-print {
  color: #a7a7a7;

  &:after {
    content: "~"
  }

  &.red:after {
    color: $red;
  }
  &.orange:after {
    color: $orange;
  }
  &.yellow:after {
    color: $yellow;
  }
  &.green:after {
    color: $green;
  }
  &.blue:after {
    color: $blue;
  }
  &.indigo:after {
    color: $indigo;
  }
  &.violet:after {
    color: $violet;
  }
}

// .answer-print, 
.image-original {
  margin-top: .15cm;
  margin-bottom: .15cm;
}