@charset "utf-8";
@import "fonts";

// Define defaults for each variable.

$base-font: "snap-it-mono-2", monospace;
$serif-font: "Avara", serif;

$screen-font-size: 18px;
$screen-line-height: 23px;
$screen-letter-spacing: 0px;


$print-font-size: 9pt;
$print-font-size-small: 7pt;
$print-line-height: 11pt;
$print-line-height-small: 10pt;

$title-size-1: 38pt;
$title-size-2: 12pt;
$title-size-3: 14pt;

$spacing-unit: 10px;


@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@import "layout",
        "base",
        "surprise";

@media print {
  .print-content { display: block; }
  .screen-content { display: none; }

  @import "print/cover",
          "print/print-layout",
          "print/text-styles",
          "print/summary",
          "print/print-is-dead",
          "print/zoom",
          "print/poetry",
          "print/grrrls",
          "print/arts",
          "print/geocities",
          "print/horoscope",
          "print/top";
}

@media screen {
  .print-content { display: none; }
  .screen-content { display: block; }

  @import "screen/screen-layout",
          "screen/logo",
          "screen/syntax-highlighting";
}
