---
layout: default
page-id: deluxe
permalink: /a-la-decouverte-d-internet/deluxe/
---

<div class="home">

  {% include browser-warnings.html %}

  <div class="screen-content">
    {% include screen-content.html %}
  </div>
  
  <div class="print-content">
    {% include print-content-deluxe.html %}

  </div>

</div>