.bulle {
  fill: white;
  stroke: black;
  stroke-width: 1;
}

.logo-print-it {
  width: 100%;
  position: relative;
}

.logo-font {
  display: block;
  width: 100%;
}

.bulle-logo-title {
  position: absolute;
  right: -20px;
  bottom: -20px;
  width: 340px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 60px;

  &.grrrls {
    left: -30px;
    top: -30px;
    bottom: auto;
    right: auto;
  }

  @include media-query(1200px) {
    width: 230px;
    height: 170px;
    right: -30px;
    bottom: -30px;
    padding: 0px 40px;
  } 

  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  p {
    position: relative;
    z-index: 1;
    font-size: 24px;
    text-align: center;

    @include media-query(1200px) {
      font-size: 15px;
    } 
  }
}
