.screen-content-wrapper {
  width: 100%;
  height: 100%;
  // min-height: 955px;
  min-height: 100vh;
  background-image: url(./images/print-it-bg.gif);
  background-size: auto 100%;
  background-repeat: repeat-x;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  font-size: $screen-font-size;
  
  @include media-query(900px) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

.test {
  display: block;
}

.warning-wrapper {
  justify-content: center;
  align-items: flex-start;
}

.landing-wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .logo-container {
    width: 80%;
    max-width: 800px;
    margin-bottom: 100px;
    height: auto;

    @include media-query(1200px) {
      width: 60%;
    }

    img {
      display: block;
      width: 100%;
    }
  }
}


.home-divider {
  // height: 100%;
  width: 1px;
  border-left: dashed 2px black;
  border-bottom: none;
  margin-right: 20px; 

  @include media-query(700px) {
    width: 100%;
    height: auto;
    border-left: none;
    border-bottom: dashed 2px black;
    margin: 0 0px 20px; 
  } 
}


.home-card-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 20px;
  // width: 820px;

  @include media-query(700px) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.card {
  background-color: white;
  border: solid 2px black;

  &.warning {
    width: 90%;
    margin-top: 100px;
    max-width: 500px;
  }
}

.home-card {
  max-width: 400px;
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;

  &.large {
    width: 100%;
  }


  &:not(:last-child) {
    margin-right: 20px; 
  }

  @include media-query(700px) {
    width: 100%;
    margin-right: 0; 
    margin-bottom: 20px; 
    &:not(:last-child) {
      margin-right: 0px; 
    }
  }
  
}

.card-content {
  // flex: 1;
  padding: 20px;
}

.card-title {
  padding: 20px;
  border-bottom: dashed 2px black;
  text-transform: uppercase;
}

.card-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border: none;
  padding: 0px 15px;
  border: dashed 2px black;
  background-color: white;
  font-family: $base-font;
  font-size: $screen-font-size;
  cursor: pointer;
  margin-top: 10px;
  text-transform: uppercase;

  &:focus, &:hover {
    border: solid 2px black;
    outline: none;
  }

  &:active {
    background-color: black;
    color: white;
  }
}


.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex: 1;
  padding: 0 20px 20px;
}


.complete-form-container {
  margin-top: 40px;
}



.logo-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &.side {
    width: 80%;
    height: auto;
    max-width: 900px;

    @include media-query(900px) {
      width: 100%;
    }
  }
}

.print-it-hero {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  

  @include media-query(900px) {
    width: 400px;
    padding-top: 50px;
  }

}

.print-it-form-container {
  width: 600px;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (max-height: 1000px) {
    width: 500px;
    padding: 40px;
    font-size: 16px;
  }
}

.form-section {
  width: 100%;
  background-color: white;
  border: solid 2px black;

  .section-title {
    padding: 20px;
    border-bottom: dashed 2px black;
    text-transform: uppercase;
  }

  .section-content {
    padding: 20px;
  }

  .landing-input-container {
    padding: 10px 20px 20px;
    
    &:not(:first-child) {
      border-top: solid 2px black;
    }
  }

  &.button-section {
    margin-top: 40px;
  }
  
  .section-text-line {
    display: block;
    width: 100%;

    img {
      display: inline;
      width: 30px;
    }
  }
}

.center-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.align-right {
  display: inline-block;
  float: right;
}

.uppercase {
  text-transform: uppercase;
}


label {
  display: block;
  width: 100%;
  margin: 8px 0px;
  text-transform: uppercase;
}

input {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 2px dashed black;
  height: 30px;
  font-family: $base-font;
  font-size: $screen-font-size;
  padding-bottom: 10px;
  outline: none;
  
  
  &:focus {
    // outline: 2px dashed black;
    // outline-offset: 3px;
    outline: none;
  }

  &.print-number-input {
    display: inline-block;
    width: 40px;
    text-align: center;
  }
}

button, .button {
  height: 40px;
  border: none;
  padding: 0px 15px;
  border: dashed 2px black;
  background-color: white;
  font-family: $base-font;
  font-size: $screen-font-size;
  cursor: pointer;
  margin-top: 10px;
  text-transform: uppercase;

  &:focus, &:hover {
    border: solid 2px black;
    outline: none;
  }

  &:active {
    background-color: black;
    color: white;
  }
}

.print-button, .print-button-grrrls {
  margin: 15px auto 0;
}


.back-button {
  @extend .button;
  position: absolute;
  top: 100px;
  left: 100px;
  margin: 0;
  line-height: 36px;
  text-decoration: none;
  border: solid 1px black;

  &:hover {
    color: white;
    background-color: transparent;
    border: solid 1px white; 
  }

  @media screen and (max-height: 1000px) {
    top: 40px;
    left: 40px;
  }
}

.exposition-button {
  @extend .button;
  position: absolute;
  left: 100px;
  bottom: 100px;
  margin: 0;
  line-height: 36px;
  text-decoration: none;
  border: solid 1px black;

  &:hover {
    color: white;
    background-color: black;
    border: solid 1px white; 
  }

  @media screen and (max-height: 1000px) {
    left: 40px;
    bottom: 40px;
  }
}

.hidden-content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  opacity: 0;
  pointer-events: none;
  height: 0;
}

.ital {
  display: inline;
  span {
    display: inline-block;
    transform: rotate(15deg);
    min-width: 12px;
    text-transform: uppercase;
    font-size: 19px;
  }
}

.hidden {
  visibility: hidden;
  display: none;
  border: none;
}



.en-version-warning {
  position: absolute;
  z-index: 10;
  top: 100px;
  left: 50px;
  width: 400px;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 70px;
  transform: rotate(-17deg);
  text-align: center;
  font-size: 28px;
  color: white;

  svg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
  }

  a {
    color: white;
  }

  p {
    position: relative;
    z-index: 1;
  }

  .bulle {
    fill: black;
    stroke: white;
  }
}