---
layout: default
page-id: landing
---

{% include browser-warnings.html %}

<div class="screen-content screen-content-wrapper landing-wrapper">
  <div class="en-version-warning">
    {% include bulle.html %}
    <p>
      English version now available&nbsp;!
      <a href="{{site.baseurl}}/a-la-decouverte-d-internet/en/">Let's go&nbsp;!</a>
    </p>
  </div>

  <div class="logo-container">
      {% include logo-print-it.html %}
  </div>

  <div class="home-card-container">
    <div class="card home-card">
      <div class="card-title">
        Deluxe version
      </div>
      <div class="card-content">
        J’ai le kit Print-it entre les <br/>
        mains, et je suis prêt pour <br/>
        l'aventure !<br/>
      </div>
      <div class="card-content button-wrapper">
          <a class="card-button" href="{{site.baseurl}}/a-la-decouverte-d-internet/deluxe/">C'est parti</a>
      </div>
    </div>
    <div class="card home-card">
      <div class="card-title">
        GRRRLS Deluxe version
      </div>
      <div class="card-content">
        J’ai le kit Print-it entre les <br/>
        mains venant de la Grrrls Tech Zine Fair, et je suis prêt pour l'aventure&nbsp;!
      </div>
      <div class="card-content button-wrapper">
          <a class="card-button" href="{{site.baseurl}}/a-la-decouverte-d-internet/grrrls/">C'est parti</a>
      </div>
    </div>
    <div class="home-divider"></div>
    <div class="card home-card">
      <div class="card-title">
        Free version
      </div>
      <div class="card-content">
        J'ai attéri ici en surfant sur<br/>
        la toile, et je suis quand <br/>
        même prêt pour l'aventure !<br/>
      </div>
      <div class="card-content button-wrapper">
          <a class="card-button" href="{{site.baseurl}}/a-la-decouverte-d-internet/free/">C'est parti</a>
      </div>
    </div>
  </div>
</div>
