---
layout: default
page-id: landing
---


<div class="home-page column justc-center alitems-center">
  <h1 class="mgb-m">Print-it</h1>
  <a class="mgb-s" href="{{site.baseurl}}/a-la-decouverte-d-internet/">À la découverte d’internet !</a>
  <a class="mgb-s" href="{{site.baseurl}}/surprise/">Surprise !</a>
</div>
