<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

  {% include head.html %}

  <body>

    <div class="surprise-screen surprise-wrapper column justc-center alitems-center idle">

      <div id="crippy" class="crippy-wrapper mgb-xl">
        <span id="eye-left">°</span><span id="mouth">−</span><span id="eye-right">°</span>
      </div>

      <div class="greeting column alitems-center">
        <div class="mgb-s">
          Welcome to Print-it, <span class="surprise-animation">surprise!</span>
        </div>
        <div class="mgb-s">
          If you are ready to encounter your digital self, please click the button below.
        </div>
        <div id="start-button" class="start-button row justc-center alitems-stretch">
          <div class="button-content flex-1">
            Let's go!
          </div>
        </div>
      </div>

      <div id="uncompatible-browser"></div>

      <div class="surprise-terminal-wrapper animated flex-1 column alitems-stretch mgb-xl">
        <div id="terminal-content" class="terminal-content flex-1"></div>

        <div class="terminal-input">
          <span id="name" class="fake-input" autoComplete="off" contentEditable="true" spellcheck="false"></span>
          <span id="mindset" class="fake-input" autoComplete="off" contentEditable="true" spellcheck="false"></span>
          <span id="looking-for" class="fake-input" autoComplete="off" contentEditable="true" spellcheck="false"></span>
          <span id="bond" class="fake-input" autoComplete="off" contentEditable="true" spellcheck="false"></span>
          <span id="acceptance" class="fake-input" autoComplete="off" contentEditable="true" spellcheck="false"></span>
          <span id="cooperation" class="fake-input" autoComplete="off" contentEditable="true" spellcheck="false"></span>
        </div>

      </div>

    </div>

    <div class="surprise-print">
      
      <div class="surprise-page recto">
        <div id="print-image-wrapper" class="print-image-wrapper">
          <img id="image-element" src="{{site.baseurl}}/assets/surprise-images/" alt="">
        </div>
        <div class="cutouts left"></div>
        <div class="cutouts right"></div>
      </div>

      <div class="surprise-page verso">
        <div class="surprise-page-left">
          Print-it, surprise!
          <div class="fold-icon">
            <img src="{{ site.baseurl }}/assets/images/fold-icon2.svg">
          </div>
        </div>
        <div class="surprise-page-right">
          <div>
            <span class="crippy-name-print"></span>
            <span class="question-name-print"></span>
          </div>
          <div class="answer-print">
            <span class="user-name-print"></span>
            <span class="answer-name-print"></span>
          </div>
          <img id="image-original" class="image-original" src="{{site.baseurl}}/assets/surprise-images/" alt="">

          <div>
            <span class="crippy-name-print"></span>
            <span class="question-mindset-print"></span>
          </div>
          <div class="answer-print">
            <span class="user-name-print"></span>
            <span class="answer-mindset-print"></span>
          </div>

          <div>
            <span class="crippy-name-print"></span>
            <span class="question-looking-for-print"></span>
          </div>
          <div class="answer-print">
            <span class="user-name-print"></span>
            <span class="answer-looking-for-print"></span>
          </div>

          <div>
            <span class="crippy-name-print"></span>
            <span class="question-bond-print"></span>
          </div>
          <div class="answer-print">
            <span class="user-name-print"></span>
            <span class="answer-bond-print"></span>
          </div>

          <div>
            <span class="crippy-name-print"></span>
            <span class="question-acceptance-print"></span>
          </div>
          <div class="answer-print">
            <span class="user-name-print"></span>
            <span class="answer-acceptance-print"></span>
          </div>

          <div>
            <span class="crippy-name-print"></span>
            <span class="question-cooperation-print"></span>
          </div>
          <div class="answer-print">
            <span class="user-name-print"></span>
            <span class="answer-cooperation-print"></span>
          </div>

        </div>
      </div>
    </div>


    <script src="{{site.baseurl}}/assets/js/ping.min.js" type="text/javascript"></script>
    <script src="{{site.baseurl}}/assets/js/surprise.js"></script>

  </body>

</html>