---
deluxe: "yes"
free: "yes"
grrrls: "no"
title: "Editorial"
subtitle: "The editor’s note"
---

<div class="page-content-text">
  {% include title.html %}
  {% include subtitle-s.html %}

  <img class="section-icon large" src="{{site.baseurl}}/assets/images/edito-icon.svg" alt="edito-icon">
  <img class="edito-portrait" src="{{site.baseurl}}/assets/images/businessman.gif" alt="businessman">

  <span class="business-caption">Successful-businessman-<br>in-a-modern-office.gif</span>

  <p>
     <br/><br/><br/>

     You know us, at Objet Papier, we love nothing but exploring the 
     links between paper and digital, between the fabulous virtual universe 
     that offers so many possibilities and the greatness of physical shaped objects.
     For this new issue that celebrates the 30th anniversary of the 
    <span class="annotation-origin">World Wide Web</span>
    <span class="annotation-content annotation-bottom">
      {% include arrow-arc-down.html %}
      Tim Berners-Lee wove it in 1989 in Geneva.
    </span>, 
    we asked our engineers to bring our philosophy to its climax.<br/>
    That’s how they created this amazing Unidentified Coded Object that 
    you hold now in your hands.
    Bring your surfboard and go meet the vast worlds of the Internets! 
    You will discover curious traditions, hard technics and fascinating 
    characters. You may come across the soul and the skeleton of our label, 
    but always while having fun! Here and there, codes and binary references will 
    guide you on the web of knowledge.
    <br/><br/>

    Icing on the cake, by participating in the realization of your own magazine, 
    you have taken your first steps in the world of
    <span class="annotation-origin">CSS&nbsp;Print!</span>
    <span class="annotation-content annotation-top">
      {% include arrow-arc-down.html %}
      Well done! You have gone through all the steps to create your own Print-it copy!
    </span> <br>
    We coded a book, you printed a website! And if you feel like a deep adventurer, 
    you can personalize it with your own headings and creations. The most 
    curious will make their own entire magazine and will be able to participate 
    fully in the great reconciliation of digital and physical worlds.<br/><br/>
    
    Farewell on your reading journey.

  </p>

</div>
