---
deluxe: "yes"
free: "yes"
grrrls: "no"
title: "Editorial"
subtitle:
---

<div class="page-content print-is-dead-wrapper">
  <div class="print-is-dead-title">
    Press<br/>
    is dead*<br/>
    
  </div>

  <img class="random-icon" src="{{site.baseurl}}/assets/images/skull.svg" alt="skull">
  <img class="random-icon" src="{{site.baseurl}}/assets/images/skull.svg" alt="skull">
  <img class="random-icon" src="{{site.baseurl}}/assets/images/skull.svg" alt="skull">
  <img class="random-icon" src="{{site.baseurl}}/assets/images/skull.svg" alt="skull">
  <img class="random-icon" src="{{site.baseurl}}/assets/images/skull.svg" alt="skull">
  <img class="random-icon" src="{{site.baseurl}}/assets/images/skull.svg" alt="skull">
  <img class="random-icon" src="{{site.baseurl}}/assets/images/skull.svg" alt="skull">
  <img class="random-icon" src="{{site.baseurl}}/assets/images/skull.svg" alt="skull">
  

  <div class="print-is-dead-paragraph">
      The day readers were asked to print their own magazine…
  </div>

  {% include print-is-dead-cut.html%}
</div>
