---
deluxe: "yes"
free: "yes"
grrrls: "no"
title: Summary
subtitle:
---

<div class="page-content-text">
  {% include title.html %}

  <div class="summary-wrapper">
    <div class="summary-item">
      <div class="summary-item-icon">
        <img src="{{site.baseurl}}/assets/images/zoom-icon.svg" alt="zoom-icon">
      </div>
      <div class="summary-item-title title-3">
        Focus on…
      </div>
      <div class="summary-item-subtitle">
        The creation of OP007 Print-it.
      </div>
      <div class="summary-page-indicator">
        {% include bulle-tiny.html %}
        <p>p.06-11</p>
      </div>
    </div>

    <div class="summary-item">
      <div class="summary-item-icon">
          <img src="{{site.baseurl}}/assets/images/poesie-icon.svg" alt="poesie-icon">
      </div>
      <div class="summary-item-title title-3">
        Poetry 2.0
      </div>
      <div class="summary-item-subtitle">
        Online beef!
      </div>
      <div class="summary-page-indicator">
        {% include bulle-tiny.html %}
        <p>p.12-13</p>
      </div>
    </div>

    <div class="summary-item">
      <div class="summary-item-icon">
          <img src="{{site.baseurl}}/assets/images/art-icon.svg" alt="art-icon">
      </div>
      <div class="summary-item-title title-3">
        Arts
      </div>
      <div class="summary-item-subtitle">
        voyagesgratuits.com
      </div>
      <div class="summary-page-indicator">
          {% include bulle-tiny.html %}
          <p>p.14-17</p>
        </div>
    </div>

    <div class="summary-item">
      <div class="summary-item-icon">
          <img src="{{site.baseurl}}/assets/images/enquete-icon.svg" alt="enquete-icon">
      </div>
      <div class="summary-item-title title-3">
        Investigating…
      </div>
      <div class="summary-item-subtitle">
        GeoCities, the internet of the past.
      </div>
      <div class="summary-page-indicator">
          {% include bulle-tiny.html %}
          <p>p.18-23</p>
        </div>
    </div>

    <div class="summary-item">
      <div class="summary-item-icon">
          <img src="{{site.baseurl}}/assets/images/top50-icon.svg" alt="top50-icon">
      </div>
      <div class="summary-item-title title-3">
        Top 30
      </div>
      <div class="summary-item-subtitle">
        Things to see on the internet…
      </div>
      <div class="summary-page-indicator">
          {% include bulle-tiny.html %}
          <p>p.24-25</p>
        </div>
    </div>

    <div class="summary-item">
      <div class="summary-item-icon">
          <img src="{{site.baseurl}}/assets/images/horoscope-icon.svg" alt="horoscope-icon">
      </div>
      <div class="summary-item-title title-3">
        Horoscope
      </div>
      <div class="summary-item-subtitle">
        by professor Zerep.
      </div>
      <div class="summary-page-indicator">
        {% include bulle-tiny.html %}
        <p>p.27-29</p>
      </div>
    </div>

    <div class="summary-item">
      <div class="summary-item-icon">
          <img src="{{site.baseurl}}/assets/images/jeux-icon.svg" alt="jeux-icon">
      </div>
      <div class="summary-item-title title-3">
        Games
      </div>
      <div class="summary-item-subtitle">
        Let's play!
      </div>
      <div class="summary-page-indicator">
        {% include bulle-tiny.html %}
        <p>p.30-31</p>
      </div>
    </div>

  </div>

</div>
