---
deluxe: "yes"
free: "yes"
grrrls: "yes"
title: Focus on…
subtitle: The conception of OP007
---

<div class="page-content-full">
  <div class="full-page-icon">
    <img src="{{ site.baseurl }}/assets/images/zoom-icon.svg" alt="Zoom sur icon">
  </div>
</div>
