---
deluxe: "yes"
free: "yes"
grrrls: "yes"
title: Focus on…
subtitle: The conception of OP007
---

<div class="page-content-text">
  <div class="zoom-section">
    
    <h3 class="title-3">Web development tools</h3>

    <p class="zoom-intro">
      Let's hold our breath and dive in the deep and dark ocean lying below Print-it. 
      Don't forget your headlamp, knowledge is at the end of the journey.
    </p>
    
    
    <div class="zoom-tool atom">
      <!-- <img class="tool-logo" src="{{ site.baseurl }}assets/images/atom-logo.gif" alt="Atom logo"> -->
      <div class="table-text">
        <h3 class="table-title capital">
          <p>Atom</p>
          <img class="tool-logo" src="{{ site.baseurl }}/assets/images/atom-logo.gif" alt="Atom logo">
        </h3>
        <div class="table-text-content zoom-tool-content">
          Atom is a text editor for <span class="ital">mac-os</span>, 
          <span class="ital">linux</span> <br/>and <span class="ital">Windows</span>, 
          built to write <span class="highlight">source code</span>.<br/>
        </div>
        <div class="table-text-small">
          We used Atom to write the <span class="annotation-origin">HTML</span> structure, 
          <span class="annotation-origin">CSS</span>
          <span class="annotation-content annotation-top">
            {% include arrow-arc-down.html %}
            Find out more about those acronyms on page 10.
          </span> 
          style sheets and 
          <span class="highlight">Javascript</span>
          code composing Print-it, shaping it bit by bit.
        </div>
      </div>
    </div>

    <div class="zoom-arrow"></div>
    <!-- <img class="zoom-arrow one" src="{{ site.baseurl }}assets/images/zoom-arrow-1.svg" alt="arrow"> -->

    <div class="zoom-tool jekyll">
      <div class="table-text">
        <h3 class="table-title capital">
          <p>Jekyll</p>
          <img class="tool-logo" src="{{ site.baseurl }}/assets/images/jekyll-logo.gif" alt="Jekyll logo">
        </h3>
        <div class="table-text-content zoom-tool-content">
          Jekyll is a <span class="highlight">static site</span> generator, 
          build by <br/><span class="ital">Tom Preston-Werner</span>, 
          written in the <span class="highlight">programming language</span> 
          <span class="ital">Ruby</span>. 
          <span class="annotation-origin">As friendly as it gets</span>,
          <span class="annotation-content annotation-bottom">
            {% include arrow-arc-down.html %}
            Jekyll is friendly, but what about Mr Hyde ? :o
          </span>
           it is one of the most used static site generator out there.
        </div>
        <div class="table-text-small">
          Jekyll was in charge of synchronizing the different parts 
          of the code (HTML/CSS/JS) of Print-it.
        </div>
      </div>
    </div>

    <div class="zoom-arrow"></div>

    <!-- <img class="zoom-arrow two" src="{{ site.baseurl }}assets/images/zoom-arrow-2.svg" alt="arrow"> -->

    <div class="zoom-tool github">
      <div class="table-text">
        <h3 class="table-title capital">
          <p>GitHub</p>
          <img class="tool-logo" src="{{ site.baseurl }}/assets/images/github-logo.gif" alt="Github logo">
        </h3>
        <div class="table-text-content zoom-tool-content">
          Github is a web platform for code hosting and management, based on the 
          <span class="highlight">version control</span> software Git. 
          Version control is a starting point for collaboration workflows often 
          associated with <span class="highlight">open source</span> projects.<br/>
        </div>
        <div class="table-text-small">
          Github is the host of Print-it's source code, it allows us to regroup 
          and synchronize all the modifications made on the software.
        </div>
      </div>
    </div>

    <div class="zoom-arrow"></div><div class="zoom-arrow"></div>

    

  </div>
</div>
