---
deluxe: "yes"
free: "yes"
grrrls: "yes"
title: Focus on…
subtitle: The conception of OP007
---

<div class="page-content-text">
  <div class="zoom-section">

    <div class="zoom-arrow in-margin"></div><div class="zoom-arrow"></div><div class="zoom-arrow"></div>

    <div class="zoom-tool siteleaf">
      <div class="table-text">
        <h3 class="table-title capital">
          <p>Siteleaf</p>
          <img class="tool-logo" src="{{ site.baseurl }}/assets/images/siteleaf-logo.gif" alt="Atom logo">
        </h3>
        <div class="table-text-content">
            Developed by <span class="ital">Oak Studio</span>, Siteleaf is the ideal sidekick for Jekyll. 
            It connects to Github and hosts the site on a specified <span class="highlight">URL</span>. 
            It comes with a <span class="highlight">CMS</span>, providing an easy way to update the content of the site.<br/>
        </div>
        <div class="table-text-small">
          Siteleaf is synchronizing all the modifications we are making to Print-it via 
          the code and the CMS, and displays the result on our URL: <span class="link">https://objetpapier.fr/print-it/</span>
        </div>
      </div>
    </div>
    
    <div class="zoom-arrow"></div>

    <div class="zoom-tool chrome">
      <div class="table-text">
        <h3 class="table-title capital">
          <p>Chrome</p>
          <img class="tool-logo" src="{{ site.baseurl }}/assets/images/chrome-logo.gif" alt="Atom logo">
        </h3>
        <div class="table-text-content">
            Chrome is a web browser developed by 
            <span class="annotation-origin"><span class="ital">Google</span></span>
            <span class="annotation-content annotation-bottom">
                {% include arrow-arc-down.html %}
                This small family business begged us to advertise their service, we couldn't refuse :/
            </span>, it's a software built to access URLs 
            and display the content of the <span class="ital">World Wide Web</span>. <br/>
            Fun fact, the french word for browser is "navigateur", which was inspired by 
            <br/><span class="ital">Netscape Navigator</span>, a major 
            web browser from the 1990's. Nowadays, the most used browsers are <span class="ital">Google Chrome</span>, 
            <span class="ital">Mozilla Firefox</span>, 
            <br/><span class="ital">Microsoft Edge</span> and <span class="ital">Apple Safari</span>. <br/>
        </div>
        <div class="table-text-small">
          Thanks to Chrome you can see the web interface of Print-it's home page with your own eyes. 
          We highly recommend the use of Chrome for the print process, 
          because it's the one and only browser supporting CSS print like a boss!
        </div>
      </div>
    </div>

    <div class="zoom-arrow"></div>

    <div class="zoom-tool">
      <div class="table-text">
        <div class="table-text-content">
            <span class="link">https://objetpapier.fr/print-it/</span>
        </div>
      </div>
    </div>

  </div>
</div>
