---
deluxe: "yes"
free: "yes"
grrrls: "yes"
title: Focus on…
subtitle: The conception of OP007
---

<div class="page-content-text">
  <div class="zoom-section">

    <h3 class="title-3 margin-bottom">From Web to Print</h3>

    <div class="zoom-tool-print html">
      <div class="table-text">
        <h3 class="table-title capital">
          <p>HTML</p>
          <span class="superscript">HyperText Markup Language</span>
        </h3>
        <div class="table-text-content">
            HTML is a data description language, structured with tags, 
            built to organize the content of a web page. It's the backbone 
            of internet content, and one of the three pillars allowing 
            the web to exist with <span class="highlight">HTTP</span> and <span class="highlight">URL</span>.
        </div>
      </div>
    </div>

    <div class="zoom-arrow"></div>

    <div class="zoom-tool-print css">
      <div class="table-text">
        <h3 class="table-title capital">
          <p>CSS</p>
          <span class="superscript">Cascading Style Sheets</span>
        </h3>
        <div class="table-text-content">
          <span class="annotation-origin"></span>
          <span class="annotation-content annotation-top">
            {% include arrow-arc-down.html %}
            The lowlands of the Internet are full of symbols hostile to vowels, who knows where they are hidden?
          </span>
          Cascading style sheets is the language used to create the layout and graphics of web content. It's responsible for the appearance of a web page.
        </div>
        <h3 class="table-title capital">CSS Print</h3>
        <div class="table-text-content">
          CSS Print is the group of instructions written in CSS, applying to the content when it is printed. 
          This way it is possible to work on print layout design using a web development environment, 
          creating a bridge between physical and digital worlds for our content.

        </div>
      </div>
    </div>

    <div class="zoom-arrow"></div>

    <div class="zoom-tool-print css">
      <div class="table-text">
        <h3 class="table-title capital">
            <p>PDF</p>
            <span class="superscript">Portable Document Format</span>
        </h3>
        <div class="table-text-content">
          <span class="annotation-origin"></span>
          <span class="annotation-content annotation-bottom">
            {% include arrow-arc-down.html %}
            Hold on, the fun is coming your way!
          </span>
          Best known under the acronym than the actual name, a PDF is a file 
          using a descriptive language to interpret page layout. It was 
          introduced by <span class="ital">Adobe Systems</span> in 1992 and became an ISO standard 
          in 2008. It's secret weapon is to be able to preserve the layout exactly 
          the way the author created it, no matter what the software, 
          operating system or computer used to display or print it.
        </div>
      </div>
    </div>

    

  </div>
</div>
