---
deluxe: "yes"
free: "yes"
grrrls: "yes"
title: Focus on…
subtitle: The conception of OP007
---

<div class="page-content-text">
  <div class="zoom-section">

    <h3 class="title-3">Glossary</h3>

    <img class="xerox printer" src="{{ site.baseurl }}/assets/images/xerox-printer.gif" alt="xerox computer">

    <img class="xerox computer" src="{{ site.baseurl }}/assets/images/xerox-computer.gif" alt="xerox computer">

    <div class="xerox-arrow"></div>


    <div class="definition">
      <span class="highlight">Source code</span> 
      The source code of a computer program is a text containing 
      instructions written in one or multiple programming languages, 
      it's interpreted by the machine, which executes those instructions.<br/>
    </div>

    <div class="definition">
      <span class="highlight">CMS</span> 
      (Content Management System) A kind of program allowing 
      the modification of a website's content, through 
      a graphical user interface.<br/>
    </div>
    

    <div class="definition">
      <span class="highlight">Static site</span> 
      A site displaying the same page for every user accessing it on 
      the internet. In opposition to a dynamic site which can display 
      specific content for every user.<br/>
    </div>
    

    <div class="definition">
      <span class="highlight">Programming language</span> 
      A logic based system made to write source code. Like natural 
      language, each programming language uses an alphabet, a semantic, 
      a vocabulary and a specific syntax.<br/>
    </div>
    
    
    <div class="definition">
      <span class="highlight">URL</span>
      Designates the web address allowing a browser to locate any resource online 
      (file, image, web page, etc.). Formalized by Tim Berners-Lee in 1989, 
      the protocol behind URLs is one of the inventions which made the World Wide Web possible.<br />
    </div>
    

    <div class="definition"><span class="highlight">HTTP</span> 
      (HyperText Transfer Protocol) This is the communication method used by devices 
      accessing the internet, like a server or a browser. HTTPS is the secure version of the HTTP protocol.<br/>
    </div>

    <div class="definition">
      <span class="highlight">Open source</span>
      In opposition to the proprietary software philosophy, the open source is a 
      development method based on collaborative work and source code sharing.<br />
    </div>
    

    <div class="definition">
      <span class="highlight">Version control</span> 
      Consists in maintaining the modifications made to one or multiple files by one 
      or multiple people. It's mainly used in software design, 
      in order to maintain and track the evolution of the source code.<br/>
    </div>
    

  </div>
</div>
