---
deluxe: "yes"
free: "yes"
grrrls: "no"
title: Poetry 2.0
subtitle: Online beef!
---

<div class="page-content-text">
  
  
  <div class="poetry-section kaaris">
      <img class="poetry-logo" src="{{site.baseurl}}/assets/images/youtube-logo.gif" alt="">
      <div class="poetry-content kaaris">
        You see, there's no O.G. <br/>fighting on the internet.<br/>
        We do not fight on the internet,<br/> everything happens in the street.

      </div>
      <div class="explanation kaaris">
        In his rivalry against the Duc (aka Booba) Kaaris shares an online 
        video of him in which he praises the power of his gang. They 
        solve their problems down in the projects, not on the Internet. 
        Except this time maybe?
      </div>
  </div>


  <div class="poetry-section alkapote">
    <img class="poetry-logo" src="{{site.baseurl}}/assets/images/twitter-logo.gif" alt="">
      <div class="poetry-content alkapote">
        Alkpote: <span class="at-n-ash">@FrancoisFillon</span> <br/>
        You are just a simple @#!&
      </div>
      <div class="explanation alkapote">
        After conquering tweets from François Fillon, rapper Alkpote
        responds to him and shares his feelings on these remarks. Internet, communication, sharing…
      </div>
  </div>


  <div class="poetry-section 50cent">
      <img class="poetry-logo" src="{{site.baseurl}}/assets/images/insta-logo.gif" alt="">
      <div class="poetry-content 50cent">
        <img class="insta-post" src="{{site.baseurl}}/assets/images/50cent.gif" alt="50cent seats">
        50cent: Lol at $15 a pop you can’t lose, <br/>I got 200 tickets for 3 bands. XD <span class="at-n-ash">#bellator</span> <span class="at-n-ash">#lecheminduroi</span>
      </div>
      <div class="explanation 50cent">
        A longtime diss story. This time, 50cent claims in an instagram post that 
        he paid for the first three rows of the next Ja Rule liveshow. Followed 
        by a photo-montage illustrating the situation. Age brings wisdom, sometimes.
      </div>
  </div>


</div>
