---
deluxe: "yes"
free: "yes"
grrrls: "no"
title: Poetry 2.0
subtitle: Online beef!
---

<div class="page-content-text">
  {% include title.html %}
  {% include subtitle-s.html %}
  <img class="section-icon" src="{{site.baseurl}}/assets/images/poesie-icon.svg" alt="edito-icon">

  <div class="poetry-intro small-font">
      On the World Wide Web, <br/>
      words replace fists and fights <br/>
      turn into verbal diss. What a <br/>
      fabulous way to sharpen your feather<br/>
      while maintaining your dignity! <br/>
      Who said that the beef was not a noble art?
  </div>

  <div class="poetry-section jokekra">
    <img class="poetry-logo" src="{{site.baseurl}}/assets/images/message-logo.gif" alt="">
    <div class="poetry-content jokekra">
      
      <div class="message left">
        Joke<br/>
        - It's me you’re talking <br/>
        about in your tweet?
      </div>
      <div class="message right">
        Kekra<br/>
        Who you be -
      </div>
      <div class="message right">
        What you want -
      </div>
      <div class="message right">
        How much you need -
      </div>
      <div class="message right">
        Answer who you be -
      </div>
      <div class="message right">
        Answer who u be -
      </div>
      <div class="message right">
        How much -
      </div>
      <div class="message right">
        Sucker -
      </div>
    </div>
    <div class="explanation jokekra">
      After Joke's opinion on the use of the French "N-word" by white people, 
      Kekra feels triggered and decided to tweet to his attention. Then, 
      follows an exchange of mocking private messages. A small step 
      for the rapper’s clashs, a big step for the troll.
    </div>
  </div>


  <div class="poetry-section trump">
      <img class="poetry-logo" src="{{site.baseurl}}/assets/images/twitter-logo.gif" alt="">
      <div class="poetry-content trump">
        Donald Trump: Can you imagine what <br/>the outcry would be if <span class="at-n-ash">@SnoopDogg</span>, 
        <br/>failing career and all, had aimed and fired <br/>the gun at President Obama? Jail time!
      </div>
      <div class="explanation trump">
        Our dear friend Snoop Dogg, not exactly in-line with Trump’s politics, directs 
        himself in a music video shooting trump with a prank gun. "Bang!" then POTUS do what he does best.
      </div>
  </div>

</div>
