---
deluxe: "yes"
free: "yes"
grrrls: "no"
title: Arts
subtitle: Voyages gratuits.com
---

<div class="page-content-text">
  <div class="image-container-arts column">
    <img src="{{site.baseurl}}/assets/images/rossi-2.gif" alt="rossi-1">
    <img src="{{site.baseurl}}/assets/images/rossi-3.gif" alt="rossi-1">
    <p class="art-text">
      Through Tourism and Law studies, Antonio Google created the first online travel agency, 
      Voyages Gratuits, in 2006. This website helped millions of people to gain the feeling of 
      freedom and discover our dear blue planet. In order to offer interesting and free destination 
      ideas for everyone, Mister Google travelled the world to find amazing and unknown territories.
      This amazing visual journey, ‪Voyagesgratuits.com‬, is now the most beautiful 
      contemporary creation left behind by Antonio Google.
      <span class="annotation-origin"></span>
      <span class="annotation-content annotation-top art-notation">
        {% include arrow-arc-down.html %}
        This fictional work has been created by Guillaume Rossi in collaboration with Google Earth.
      </span>
      This article has been created in memory of Antonio who passed away in 2015 during one of his travels.<br/><br/>
    </p>
  </div>
  

</div>
