---
deluxe: "yes"
free: "yes"
grrrls: "yes"
title: Investigating…
subtitle: GeoCities, the internet of the past
---

<div class="page-content-full">
  <div class="full-page-icon">
    <img class="enquete-icon" src="{{ site.baseurl }}/assets/images/enquete-icon.svg" alt="Enquete sur icon">
  </div>
</div>
