---
deluxe: "yes"
free: "yes"
grrrls: "yes"
title: Investigating…
subtitle: GeoCities, the internet of the past
---

<div class="page-content-text geocities">
    <div class="title-3">What is GeoCities?</div>
    In november 1994, the company Beverly Hills Internet offers a fifteen mega octets hosting space 
    for free on the web. If this paltry amount of storage would be saturated with a few photos 
    today, it was a lush promise at the time, attracting thousands of users around the 
    globe in the first few months of the company's existence. The founders changed the name 
    to GeoCities, and from
    <span class="annotation-origin"></span>
    <span class="annotation-content annotation-bottom">
        {% include arrow-arc-down.html %}
        What a story!
    </span>
    a simple hosting service, it quickly evolved into what we could consider as an ancestor 
    of blog platforms, where you could customize pretty much everything. If the first iterations 
    of the service asked for a few developing skills to be fully mastered, it changed overtime 
    to be more accessible. It's user experience was getting better and better, attracting more 
    and more users, so you could create your own internet space without having a programming 
    background. At the end of the nineties, Internet is still in it's early days, and attracting 
    users is easier if they can rely on something already known. This goal in mind the creators 
    of GeoCities introduced a "skeuomorphic" dimension in their product, making you move in your 
    cyberspace like you move into a new flat. Like in real life you chose a city where to live, 
    and a neighborhood where you were given a number, creating your address in this digital world, 
    where you can shape your dream space exactly how you want and share it with the planet. 
    GeoCities is a free minded place promoting expression, where teenage blogs are adjoining
    <span class="annotation-origin">war veteran writing their Memoirs and Japanese pop-stars fan-sites.</span>
    <span class="annotation-content annotation-top">
        {% include arrow-arc-down.html %}
        That's what we call convergence among social struggles
    </span> <br/>This huge variety of topics is coming to life through an aesthetic of gifs, 
    fonts and word-arts in "Web Safe Colors" (216 colors). Print-it is reviving this internet 
    of the past, giving you the keys to create a GeoCities page worthy of it's name.
    <div class="title-3">The essentials of a GeoCities page</div>
    <ul>
        <li> 
            <span class="highlight">Mosaic backgrounds</span> 
            1000 pixels wide background images didn’t do well with a 56k network. 
            In 1994 backgrounds are made with small images repeated across the page, 
            a bandwidth love story.
        </li>
    </ul>
</div>
