---
deluxe: "yes"
free: "yes"
grrrls: "yes"
title: Investigating…
subtitle: GeoCities, the internet of the past
---

<div class="page-content-text geocities">
  <ul>
    <li>
      <span class="highlight">"Microbars" or "Stamps"</span>
      It's those small images with a specific size you could find across headers and sidebar with 
      a purpose of claiming an opinion about which web browser to use; or simply your devotion to cat fluff.
    </li>
    <li>
      <span class="highlight">Animated GIFs</span>
      The graphics interchange format is known for being able to display image sequences 
      like films in a lightweight format. It was already a killer long before snapchat, mostly on GeoCities.
    </li>
    <li>
      <span class="highlight">"Under Construction" section</span>
      A GeoCities page is a constantly evolving work of art, you should never forget to remind your 
      user with appropriated graphics. So he does not forget to come back for your next update. The best update.
    </li>
    <li>
      <span class="highlight">Multiple typefaces, in image formats</span>
      The nineties' internet was a very limited place for fonts, allowing the usage of a few system 
      font. Your graphic design talent could only be showcased through pixel based images.
    </li>
    <li>
      <span class="highlight">"Hotlinks"</span>
      Hotlinks were links using resources from another website, mainly images. Not a good practice 
      since bandwidth was billed on usage. The word was often misused to define simple page links on GeoCities.
      <!-- http://claire.billaud.free.fr/hotlink.htm -->
    </li>
    <li>
      <span class="highlight">"Frames"</span>
      Defining a subdivision of a webpage containing another html page with it's own scroll. 
      Allowing more complex designs, often resulting in a catastrophic user experience of the website.
      <!-- http://blog.geocities.institute/archives/2856 -->
    </li>
    <li>
      <span class="highlight">Fixed layout</span>
      Computer monitors didn't have a variety of size like devices nowadays. 
      The web was much easier to design because of the normalized size: 800 pixels wide and 600 pixels high.
    </li>
  </ul>

  <div class="title-3 margin-top">References made to GeoCities</div>

  A digital metropolis once overcrowded and constantly developing, the neighborhoods 
  of GeoCities were deserted. It's people fled to a new Eldorado focused on perfected 
  interactions between users: social networks. Monitored browsing and marketed content 
  is now the norm of the internet, far from the freedom you could find at the time. 
  The GeoCities experience regained of it's attractiveness for a lot 90's users, many 
  worked on projects in reference to this space where free expression was the main goal, 
  we selected some of them for you to discover on the next page.

</div>
