---
deluxe: "yes"
free: "yes"
grrrls: "yes"
title: Investigating…
subtitle: GeoCities, the internet of the past
---

<div class="page-content-text geo-references">
    <div>
        <img src=" {{site.baseurl}}/assets/images/camerons.gif " alt="Cameron's world">
        <span class="ital">Cameron's world</span> <br />
        Undoubtably the most convincing love letter to GeoCities, Cameron's World is a website by Cameron Askin. 
        A gold mine of content and visual straight out of the 1996's blogosphere, it a journey through 
        multiple neighborhoods, each one more vivid than the one before. It's a striking experience, 
        maybe more authentic than the original?
        <br /><br />
    </div>
    <div>
        <img src=" {{site.baseurl}}/assets/images/deleted-city.gif " alt="Deleted city">
        <span class="ital">Deleted City</span><br />
        Fifteen years of service and 650 Go of archives, GeoCities is a hell lot of internet and
        not the most friendly to explore. Richard Vijgen is a great help on the subject 
        with this interactive map of the archive. Deleted city is also the best way to visualize 
        the actual size of the amount of websites created.
        <br /><br />
    </div>
    <div>
        <img src=" {{site.baseurl}}/assets/images/cities-izer.gif " alt="GeoCities-izer">
        <span class="ital">GeoCities-izer</span><br />
        Now that you read this article, the one and only thing you're dreaming of: 
        that the whole internet looks like GeoCities. GeoCities-Izer is making this dream come true, 
        paste the URL of your favorite website to transform it in a "GeoCities ready version", 
        so you won't have to deal with usability and all this nonsense.
        <br /><br />
    </div>
    <div>
        <img src=" {{site.baseurl}}/assets/images/neocities.gif " alt="Neocities">
        <span class="ital">NeoCities</span><br />
        If the aesthetic of GeoCities websites can look outdated to some of us, the trend is coming back. 
        Thousand of users created modern versions of GeoCities websites, keeping the visual style and iconic 
        components, adding all the pop culture created on the internet since. NeoCities 
        is the place where you can find the work of all those NetScape fans.
        <br /><br />
    </div>
    <div class="title-3">All good things come to an end</div>
    The service was bought by Yahoo and slowly abandoned by it's users, 
    to finally be closed in 2009. The Archive Team saved the 650 gigs 
    archive before the end, it can be found on multiple websites.
    <span class="annotation-origin"></span>
    <span class="annotation-content annotation-top">
        {% include arrow-arc-down.html %}
        An investigation led by Corentin Moussard
    </span>
    The Japanese version of GeoCities lasted for a decade more, it just 
    closed in march 2019, perfect timing to celebrate the GeoCities culture.

</div>
