---
deluxe: "yes"
free: "yes"
grrrls: "yes"
title: Top 30
subtitle: Things to see on the Internet
top-items:
  - id: 1
    link: http://www.theroadbackhome.net/
    category:  Visual and listening experience

  - id: 2
    link: http://www.therestartpage.com/
    category: Visual experience

  - id: 3
    link: http://trumpdonald.org/
    category: Interactive listening experience
  - id: 4
    link: https://clickclickclick.click
    category: Interactive experience

  - id: 5  
    link: http://sponsoredspamsponsoredspam.website/
    category: Visual experience

  - id: 6
    link: http://www.toiletpapermagazine.org/
    category: Visual experience

  - id: 7
    link: http://dinakelberman.tumblr.com/
    category: Visual experience

  - id: 8
    link: http://clickheretosavetheworld.com/ 
    category: Interactive experience

  - id: 9
    link: http://rotato.party/
    category: Interactive experience

  - id: 10
    link: https://rotopo.com/
    category: Interactive experience

  - id: 11
    link: https://davidliebermann.de/
    category: Visual experience

  - id: 12
    link: https://scri.ch/
    category: Interactive experience

  - id: 13
    link: http://endless.horse/
    category: Visual experience

  - id: 14
    link: http://david.li/waves/
    category: Interactive experience

  - id: 15
    link: http://www.thebestpageintheuniverse.net
    category: catalog

  - id: 16
    link: https://fr.akinator.com/
    category: Interactive experience

  - id: 17
    link: http://southpark.cc.com/avatar
    category: Interactive experience

  - id: 18
    link: https://elgoog.im/
    category: Interactive experience

  - id: 19
    link: https://16colo.rs/
    category: catalog

  - id: 20
    link: https://brutalistwebsites.com/
    category: catalog

  - id: 21
    link: https://bob.farm/
    category: Interactive experience
    
  - id: 22
    link: http://www.notneverno.com/
    category: Visual experience

  - id: 23
    link: http://www.abstractbrowsing.net/
    category: Visual plug-in

  - id: 24
    link: http://www.staringcaring.com/
    category: Visual experience

  - id: 25
    link: http://www.shapesqueeze.com/
    category: Visual experience

  - id: 26
    link: http://www.manysome.com/
    category: Visual experience

  - id: 27
    link: http://www.startstopgo.com/
    category: Visual experience

  - id: 28
    link: http://www.manymoment.com/
    category: Visual experience

  - id: 29
    link: http://p-dpa.net/
    category: catalog

  - id: 30
    link: http://hypergeography.tumblr.com/
    category: Visual experience
---

<div class="page-content-full">
  <div class="page-content-text">
    {% include title.html %}
    {% include subtitle-m.html %}
    <img class="section-icon" src="{{site.baseurl}}/assets/images/top50-icon.svg" alt="top30-icon">
    <div class="top-title-annotation">
        Abracadabra ! <br/>
        Here are 10 <br/>
        the Internet magic <br/>
        found for you.
    </div>
  </div>
  <div class="top-container right">
    {% for item in page.top-items %}
      <div class="top-item remove" id="top{{item.id}}">
        <img src="{{site.baseurl}}/assets/images/print-it_top30_image{{item.id}}.gif" alt="top 10 image">
        <div class="top-item-text">
          <span class="link">{{item.link}}</span><br/>
          <span class="top-item-category">{{item.category}}</span>
        </div>
      </div>
    {% endfor %}
  </div>
</div>