---
deluxe: "yes"
free: "yes"
grrrls: "yes"
title: Subscription
subtitle:
---

<div class="page-content-text">
  <img class="section-icon right" src="{{site.baseurl}}/assets/images/follow-icon.svg" alt="social-icon">
  <div class="table-text">
    <div class="table-title capital">Subscribe!</div>
    <div class="table-text-content">
      Run for the click
      <img class="inline-emoji" src=" {{site.baseurl}}/assets/images/mouse.svg" alt="mouse"> 
      follow, like and share Objet Papier
      online 
      <img class="inline-emoji" src=" {{site.baseurl}}/assets/images/keur.gif" alt="Keur"> 
      and find out about our latest news!<br/>
      <img class="inline-emoji"  src="{{site.baseurl}}/assets/images/fb.gif" alt="Facebook"> : Objet Papier <br/>
      <img class="inline-emoji"  src="{{site.baseurl}}/assets/images/insta-logo.gif" alt="Instagram"> : objet_papier<br/>
      <img class="inline-emoji" src=" {{site.baseurl}}/assets/images/earth.svg" alt="Earth">  : objetpapier.fr<br/>
    </div>
    <div class="table-title capital">Will you dare?</div>
    <div class="table-text-content">
      You who belong to this connected generation, post a picture
      <span class="annotation-origin"></span>
      <span class="annotation-content annotation-top">
          {% include arrow-arc-down.html %}
          Extend the experience!
      </span>
      of your copy on instagram accompanied by #OP007. You can also send it on our mail box<br/>
      <span class="link">hello@objetpapier.fr</span>
      (nothing would be more heartwarming for us
      <img class="inline-emoji" src=" {{site.baseurl}}/assets/images/keur.gif" alt="Keur">)
    </div>
  </div>
</div>
