---
deluxe: "yes"
free: "yes"
grrrls: "yes"
title: Horoscope
subtitle: by professor Zerep
---

<div class="page-content-text">
  {% include title.html %}
  {% include subtitle-s.html %}
  <img class="section-icon" src="{{site.baseurl}}/assets/images/horoscope-icon.svg" alt="art-icon">

  <div class="space-divider"></div>

  <div class="horoscope-title-block">
    <div class="kaomoji">( ・_・)ノ<、</div>
    <div class="title-3">Aquarius</div>
    <div class="horoscope-date">January 21st&thinsp;-&thinsp;february 19th</div>
  </div>
  <p class="horoscope-text">
    Aquarius, stop hiding yourself away from the outside world so you can buff up on podcasts. It’s 2019 and podcast is the new cool. We are waiting for you, the stars have aligned and it’s time for you to join the podcast game.
    You have things to stay, to show and, god help us, sing. 
    Do it. We can’t wait to hear your take on Kim Kardashian’s latest fashion faux-pas, and who won’t love your views on the sexual misdemeanours of platypuses.
    
  </p>
  


  <div class="horoscope-title-block">
    <div class="kaomoji">>( v ￣З￣)&emsp13;</div>
    <div class="title-3">Pisces</div>
    <div class="horoscope-date">February 20th&thinsp;-&thinsp;march 20th</div>
  </div>
  <p class="horoscope-text">
    My dear Pisces, chasing retweet after retweet, seeking the wittiest, most poignant word, 
    waiting for your instagram to take off, desperate for your ‘likes’ counter to launch you 
    into the influencer-stratosphere. What if instead of seeking recognition from others you were to make yourself laugh first ?
  </p>

  <div class="horoscope-title-block">
    <div class="kaomoji">Ｕ´(ェ)ˋＵ&emsp13;</div>
    <div class="title-3">Aries</div>
    <div class="horoscope-date">March 21st&thinsp;-&thinsp;april 19th</div>
  </div>
  <p class="horoscope-text">
    As 2019’s whistleblower, you still frantically share “wake up” videos, forcing your 
    opinions on any unsuspecting coworker who happens to walk by the work coffee machine 
    in an attempt to open their eyes to the nonsense of single-use coffee stirrers.
    You are noble, Aries, but don’t forget to indulge in human kind once in a while.
    Pete can be a vegetarian and still wear leather jackets. Humans embody the very 
    meaning of ‘contradiction’ (and ‘bad fashion choices’), as do you. Also, stop 
    bragging about how many TED videos you watch if you want to keep your friends.
    
  </p>
  
  
  <div class="horoscope-title-block">
      <div class="kaomoji">╰-(ಠ_ಠ)-╯</div>
      <div class="title-3">Taurus</div>
      <div class="horoscope-date">April 20th&thinsp;-&thinsp;may 20th</div>
  </div>
  <p class="horoscope-text">
    Taurus, you dream of a cosy flat (with affordable mortgage), cycling in the countryside 
    (safely) and netflix accompanied by a tomato and mozzarella salad (low fat). Let me 
    tell you Taurus that swiping ‘yes’ on the youngest tinder profile, dreaming about 
    ariana grande (or Jack Gyllenhaal), all with your hand down your pants, isn’t going to get you there.
    Drop this romantic facade and accept your consumerist nature, otherwise free yourself 
    from these pre-constructed desires that you, yourself, never question.
  </p>
    
</div>

