---
deluxe: "yes"
free: "yes"
grrrls: "yes"
title: Horoscope
subtitle: by professor Zerep
---

<div class="page-content-text">
  <div class="horoscope-title-block">
    <div class="kaomoji">(°ｰ° )\/( °ｰ°)</div>
    <div class="title-3">Gemini</div>
    <div class="horoscope-date">May 21st&thinsp;-&thinsp;June 20th</div>
  </div>
  <p class="horoscope-text">
    “One mission a day”; This would be your Youtube channel name, if the mission of the day 
    was simply to start a youtube channel. Listen Gemini, Rome wasn’t built on an impulse. 
    Finish the things you’ve started before distracting yourself with yet another “fresh, new idea”. 
    And stop embarrassing yourself with self-satisfying quotes in tacky font and some nineties-collage background.
  </p>
  

  <div class="horoscope-title-block">
    <div class="kaomoji">ω꒦(* _ *)꒦ω</div>
    <div class="title-3">Cancer</div>
    <div class="horoscope-date">June 22nd&thinsp;-&thinsp;July 22nd</div>
  </div>
  <p class="horoscope-text">
    If we had Youtube’s viewing data in relation to zodiac signs, we’d know that 75% of the population that watch “videos of cats freaking out on cucumbers” are cancerians.
    Stop identifying yourselves with these kittens; life isn’t a huge, terrifying cucumber.
    Add a hint of lemon juice, a pinch of salt, a spoon of greek yoghurt, and bite the cucumber of life to the fullest.    
  </p>
  


  <div class="horoscope-title-block">
    <div class="kaomoji">(  (= ° ｪ ° =)  )</div>
    <div class="title-3">Leo</div>
    <div class="horoscope-date">July 23rd&thinsp;-&thinsp;august 22nd</div>
  </div>
  <p class="horoscope-text">
    Leo, stop smugly claiming you’re a non-conformist through your social media 
    absence. Everybody knows you’re petrified by the idea of others judging you.
    Instead of the guilty pleasure of reading your linkedin alerts, work on your 
    reputation, update your linkedin account, congratulate a couple of strangers 
    on their new positions and watch the job offers fly in and pull you out of 
    this unproductive routine.
  </p>


  <div class="horoscope-title-block">
      <div class="kaomoji">_(:3 」∠_&emsp13;</div>
      <div class="title-3">Virgin</div>
      <div class="horoscope-date">August 23rd&thinsp;-&thinsp;septembre 22nd</div>
    </div>
    <p class="horoscope-text">
      You are an adorable, freshly hatched chick, already tormented by the violence thrown 
      upon you by the internet. Stop watching those pathetic Youtubers clash, it’s 
      worthless. I know, how about you consider goldfishes instead? Have you ever seen 
      a wild goldfish? where do they come from? Have they always been domesticated? 
      Goldfish are quite the mystery. This is a subject that can satisfy curiosity 
      without threatening your emotional well-being.
    </p>

    <div class="horoscope-title-block">
      <div class="kaomoji">┐( ´ д ` )┌&emsp13;</div>
      <div class="title-3">Libra</div>
      <div class="horoscope-date">September 23rd&thinsp;-&thinsp;October 22nd</div>
    </div>
    <p class="horoscope-text">
      When you were born, the internet was thought to be a revolutionary way of sharing, teaching and cultivating the breadth of human knowledge between millions.
      Since then, recommendation algorithms have abandoned this concept in favour of feeding us inane garbage through a cyclical process.
      You, Libra, can escape this. Don’t let yourself be influenced by the simple nature of recommendations; break free from the youtube flow. Light your own path.

    </p>
</div>
