---
deluxe: "yes"
free: "yes"
grrrls: "yes"
title: Horoscope
subtitle: by professor Zerep
---

<div class="page-content-text">
  

  <div class="horoscope-title-block">
    <div class="kaomoji">/╲( •̀ ω •́ )╱\&emsp13;</div>
    <div class="title-3">Scorpio</div>
    <div class="horoscope-date">October 23rd&thinsp;-&thinsp;november 22nd</div>
  </div>
  <p class="horoscope-text">
    Heterosexual, monogamous, and cisgender : as a libertarian free spirit, you wish 
    you could connect with the great speeches on gender freedom and sexuality, 
    all whilst being a part of the great walk to end all genders. You will never 
    admit it but medically assisted reproduction gives you chicken skin. Furthermore, 
    people waving rainbow flags and shouting “A mama, a llama”, stating that their gender 
    shouldn’t be denoted by what exists between their legs, brings your entire being into question.
    Relax, you’ve been taught that this phallus/uterus was your main asset and ultimately determines your social status.

  </p>


  <div class="horoscope-title-block">
    <div class="kaomoji">彡( ︶︿︶)_ψ&emsp13;</div>
    <div class="title-3">Sagittarius</div>
    <div class="horoscope-date">November 23rd&thinsp;-&thinsp;december 21st</div>
  </div>
  <p class="horoscope-text">
    Social media is like life, you tweet quicker than your shadow. The problem is, 
    whilst we forget half the bullshit that comes out of your mouth, the internet stores it forever. 
  Who knows, you might need one day to be forgotten. So at least give yourself 
  a chance by not saturating the internet with your base opinions that we’ll just scroll over anyway.

  </p>
  



  <div class="horoscope-title-block">
    <div class="kaomoji">人(´ (ｪ) `)人&emsp13;</div>
    <div class="title-3">Capricorn</div>
    <div class="horoscope-date">December 22nd&thinsp;-&thinsp;january 20th</div>
  </div>
  <p class="horoscope-text">
    What would you rather: an anonymous life, or to be know remembered in a legendary meme? 
    There’s only one possible answer for someone so gifted with common sense.
    The problem is that everything else points to your face ending up on a mug, t-shirt or mouse mat. 
    If you didn’t choose the “meme” destiny, beware of smartphones, street survey camera crews, 
    and those so called friends who tag your in their stories.

  </p>
</div>

<img class="crystal-ball" src=" {{site.baseurl}}/assets/images/crystal-ball.gif " alt="crystal-ballgif">