---
deluxe: "yes"
free: "no"
grrrls: "yes"
title: Games
subtitle: Let's play!
---

<div class="page-content-text">
  <div class="title-3">Puzzle</div>
  If a blue sheet equals a 0 and a white sheet a 1, 
  what is the binary code of your edition?<br/><br/>
  …… …… …… …… …… …… …… …… …… …… …… …… …… …… …… ……<br/><br/>
  Find your binary code in the full sequence 
  of Print-it on the back cover.

  <div class="title-3">Crosswords</div>
  A word is hidden behind each definition. Show us 
  that you learned your lesson by completing these crosswords.<br/><br/><br/>

  <img src=" {{ site.baseurl }}/assets/images/mot-croise.svg " alt="mots-croisés"><br/><br/><br/>

  <div class="columns-half">
    <div>
      Horizontal<br/>
      <span class="small-font">
        1 Style of a webpage<br />
        4 Hosting platform<br />
        5 Static site<br />
        7 Text editor
      </span>
    </div>
    <div>
      Vertical<br /> 
      <span class="small-font">
        <span class="annotation-origin"></span>
        <span class="annotation-content annotation-top annotation-jeux">
          {% include arrow-arc-down.html %}
          Need help?<br /> Go p. 9-10.
        </span>
          1 Web browser<br />
          2 Programming language <br />
          3 Static site’s friend<br />
          6 Structure of a web page<br />

      </span>
    </div>
  </div>
</div>
