---
deluxe: "no"
free: "yes"
grrrls: "no"
title: Jeux
subtitle: À toi de jouer !
---

<div class="page-content-text">
  <div class="title-3">Coloriage</div>
  Munis-toi de tes plus beaux<br/>
  crayons et/ou feutres,<br/>
  et pimp les faces<br/>
  de Print-it !<br/>
  <img class="logo-jeu" src="{{site.baseurl}}/assets/images/logo-alone.svg" alt="logo coloriage">
  <br/><br/><br/><br/>
  <span class="annotation-origin"></span>
  <span class="annotation-content annotation-top annotation-jeux">
    {% include arrow-arc-down.html %}
    Hey l'expert ! <br/>
    Cap de continuer <br/>
    le jeu sur la <br/>
    couverture ?<br/>
  </span>
  <br/><br/>
  <div class="title-3">Mots croisés</div>
  Un mot se cache derrière ces définitions. 
  Prouve-nous que tu as bien été attentif.ve
  en les trouvant et complète ces mots croisés.<br/><br/><br/>

  <img src=" {{ site.baseurl }}/assets/images/mot-croise.svg " alt="mots-croisés"><br/><br/><br/>

  <div class="columns-half">
    <div>
      Horizontal<br/>
      <span class="small-font">
        1 Style d'une page web<br />
        4 Plateforme d'hébergement et de gestion de code source<br />
        5 Générateur de site statique<br />
        7 Éditeur de texte
      </span>
    </div>
    <div>
      Vertical<br /> 
      <span class="small-font">
        <span class="annotation-origin"></span>
        <span class="annotation-content annotation-top annotation-jeux">
          {% include arrow-arc-down.html %}
          Besoin d'aide ?<br />
          Rendez-vous P.9-10
        </span>
        1 Navigateur web<br />
        2 Langage de programmation<br />
        3 Compagnon idéal du générateur de site statique<br />
        6 Squelette d'une page web<br />
      </span>
    </div>
  </div>
</div>
