---
deluxe: "yes"
free: "yes"
grrrls: "no"
title: Games
subtitle: Let's play!
---

<div class="page-content-text">
  {% include title.html %}
  {% include subtitle-s.html %}
  <img class="section-icon" src="{{site.baseurl}}/assets/images/jeux-icon.svg" alt="jeux-icon">

  <div class="space"></div>

  <div class="title-3">Grab your pencil! <span class="zapf">✎</span> </div>
  Connect the dots in the order of numbers and letters, and find out who is hiding behind. <br/><br/><br/>
  <span class="annotation-origin"></span>
  <span class="annotation-content annotation-bottom">
    {% include arrow-arc-down.html %}
    It's our idol!
  </span>
  <img src="{{site.baseurl}}/assets/images/clippy.svg" alt="relier les points">
</div>
